<p-table #dt [value]="audits"  [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)" [sortOrder]="0"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">

                <div class="p-field p-col-12 p-md-2">
                    <label i18n="@@LoginDateFilter" for="onselect">Filter on Date?</label>
                    <p-checkbox [(ngModel)]="booRangeFilter" binary="true" name="onselect" id="onselect" (onChange)="changeSetRangeFilter($event)"></p-checkbox>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yy" (onSelect)="changeDateRangeFilter()"></p-calendar>
                 </div>
                <div class="p-field p-col-12 p-md-3">
                    <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yy" (onSelect)="changeDateRangeFilter()"></p-calendar>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@LoginTime"  pSortableColumn="dateIn"  >Login Time<p-sortIcon field="dateIn"></p-sortIcon></th>
            <th *ngIf="bankOptions" i18n="@@BankNameShortSorted" pSortableColumn="shortBankName">Bank<p-sortIcon field="shortBankName"></p-sortIcon></th>
            <th i18n="@@UserNameSorted" pSortableColumn="userName">Name<p-sortIcon field="userName"></p-sortIcon></th>
            <th i18n="@@UserIdSorted" pSortableColumn="user">User Id<p-sortIcon field="user"></p-sortIcon></th>
            <th i18n="@@RightsSorted" pSortableColumn="rights" >Role<p-sortIcon field="rights"></p-sortIcon></th>
            <th i18n="@@IdDisSorted" pSortableColumn="idDis" >Id Org<p-sortIcon field="idDis"></p-sortIcon></th>
            <th colspan="2" i18n="@@SocieteSorted" pSortableColumn="societe">Organisation<p-sortIcon field="societe"></p-sortIcon></th>
            <th i18n="@@AuditAppliSorted" pSortableColumn="application" >Application<p-sortIcon field="application"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
            </th>
            <th *ngIf="bankOptions">
               <p-columnFilter field="shortBankName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="bankOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="userName" [showMenu]="false">
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="user" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="rights" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="rightOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="idDis" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th colspan="2">
                <p-columnFilter type="text" field="societe" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="isJavaApp" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="appOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-audit>
        <tr>
            <td>
                {{ audit.dateIn }}
            </td>
            <td *ngIf="bankOptions" >
                {{audit.shortBankName}}
            </td>
            <td >
                {{audit.userName}}
            </td>
            <td>
                {{audit.user}}
            </td>
            <td>
                {{ labelRights(audit.rights )}}
            </td>
            <td>
                {{audit.idDis}}
            </td>
            <td colspan="2">
                {{audit.societe}}
            </td>
            <td>
                {{audit.application}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@AuditsSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} audits in the selection.
        </div>
    </ng-template>
</p-table>