<p-table #dt [value]="users" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
         >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    {{ getTitle() }}
                </div>
                <div *ngIf="booShowOrganisations" class="p-field p-col-12 p-md-4">
                    <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                     (onSelect)="filterOrganisationUsers($event.idDis);"
                                     [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                        <ng-template let-organisation pTemplate="item">
                            <div class="organisation-item">
                                <div> {{organisation.fullname}} </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>

                <div *ngIf="isUserAdmin" class="p-field p-col-12 p-md-2">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddUser" label="Add User"></button>
                </div>

            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@UserLoginSorted" pSortableColumn="idUser">Login<p-sortIcon field="idUser"></p-sortIcon></th>
            <th colspan="2" i18n="@@MemberNameSorted" pSortableColumn="membreNom">Name<p-sortIcon field="membreNom"></p-sortIcon></th>
            <th colspan="2" i18n="@@Organisation"  *ngIf="booShowOrganisations" >Organisation</th>
            <th i18n="@@RightsSorted" pSortableColumn="rights" >Role<p-sortIcon field="rights"></p-sortIcon></th>
            <th i18n="@@ManageRightsSorted" pSortableColumn="droit1">Manage Rights<p-sortIcon field="droit1"></p-sortIcon></th>
            <th i18n="@@ManageMembersSorted" pSortableColumn="gestMemb">Manage Members<p-sortIcon field="gestMemb"></p-sortIcon></th>
            <th i18n="@@ManageClientsSorted" pSortableColumn="gestBen">Manage Clients<p-sortIcon field="gestBen"></p-sortIcon></th>
            <th i18n="@@ManageFeadSorted" pSortableColumn="gestFead">Manage Fead<p-sortIcon field="gestFead"></p-sortIcon></th>
            <th i18n="@@ManageGiftsSorted" pSortableColumn="gestDon">Manage Gifts<p-sortIcon field="gestDon"></p-sortIcon></th>

        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="idUser" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th colspan="2">
                <p-columnFilter type="text" field="membreNom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th colspan="2" *ngIf="booShowOrganisations">
            </th>

            <th >
                <p-columnFilter field="rights" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="rightOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="droit1" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="gestMemb" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="gestBen" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="gestFead" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="gestDon" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr (click)="handleSelect(user)">
            <td>
                {{ user.idUser }}
            </td>
            <td colspan="2">
                {{user.membreNom}}  {{user.membrePrenom}}
            </td>

            <td colspan="2" *ngIf="booShowOrganisations">
                <div *ngIf="user.idOrg > 0">
                    {{ user.idOrg }} {{ user.societe }}
                </div>
            </td>

            <td>
                {{ labelRights(user.rights )}}
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.droit1, 'false-icon pi-times-circle': !user.droit1}"></i>
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.gestMemb, 'false-icon pi-times-circle': !user.gestMemb}"></i>
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.gestBen, 'false-icon pi-times-circle': !user.gestBen}"></i>
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.gestFead, 'false-icon pi-times-circle': !user.gestFead}"></i>
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': user.gestDon, 'false-icon pi-times-circle': !user.gestDon}"></i>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@UsersSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} users selected.
        </div>
    </ng-template>

</p-table>
<p-toast></p-toast>
<p-dialog i18n-header="@@UserDetails" header="User Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [closable]="false" >
    <app-user *ngIf="selectedIdUser$" [idUser$]="selectedIdUser$" [currentFilteredOrg] ="filteredOrganisation" (onUserUpdate)="handleUserUpdate($event)" (onUserCreate) ="handleUserCreate($event)"
              (onUserDelete)="handleUserDeleted($event)" (onUserQuit)="handleUserQuit()"></app-user>
</p-dialog>




