
<form [formGroup]="loginform" (ngSubmit)="login()" style="padding-top: 5em">
    <p-panel header="Login V17052021" class="p-grid p-dir-col p-align-center" >
        <div style="margin: 1em 0">
            <div class="p-col">
                <div>User Name *</div>
                <input pInputText type="text" formControlName="idUser" placeholder="Required"/>
                <p-message severity="error" text="User Name is required" *ngIf="!loginform.controls['idUser'].valid&&loginform.controls['idUser'].dirty"></p-message>
            </div>
            <div class="p-col">
                <div>Password *</div>
                <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                <p-message severity="error" [text]="loginform.controls['password'].errors['required'] ? 'Password is required' : loginform.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
                           *ngIf="!loginform.controls['password'].valid&&loginform.controls['password'].dirty"></p-message>
            </div>
            <div class="p-col">
                <div>Language *</div>
                    <p-dropdown [options]="languages" formControlName="language" placeholder="Select a Language" [showClear]="true"></p-dropdown>
                </div>

            <div class="p-col">
                <button pButton type="submit" label="Submit" [disabled]="!loginform.valid"></button>
            </div>
        </div>
    </p-panel>
</form>


