<p-table #dt [value]="notifications" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="3" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div i18n="@@NotificationsHeader" class="p-field p-col-12 p-md-4">
                   Food Banks Notifications
                </div>
                <div *ngIf="booCanCreate" class="p-field p-col-12 p-md-2">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddNotification" label="Add Notification"></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@Creation Date">Creation Date</th>
            <th i18n="@@Author">Author</th>
            <th i18n="@@Importance">Importance</th>
            <th i18n="@@Audience">Audience</th>
            <th i18n="@@Language">Language</th>
            <th i18n="@@Subject">Subject</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>
            <p-columnFilter field="language" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                    <p-dropdown [ngModel]="selectedLanguage" [options]="languages" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                        <ng-template let-option pTemplate="item">
                            <span >{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </ng-template>
            </p-columnFilter>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-notification>

        <tr (click)="handleSelect(notification)">
            <td>
                {{ notification.creationdate }}
            </td>
            <td>
                {{notification.author}}
            </td>
            <td>
                {{ labelImportance(notification.importance) }}
            </td>
            <td>
                {{labelAudience(notification.audience) }}
            </td>

            <td>
                {{notification.language}}
            </td>

            <td>
                {{notification.subject}}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <p-editor  [(ngModel)]="notification.content" [readonly]="true" [style]="{'height':'120px'}">
                    <p-header hidden>
                        <span class="ql-formats"> </span>
                    </p-header>
                </p-editor>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@NotificationsSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} notifications.
        </div>
    </ng-template>
</p-table>
<p-dialog i18n-header="@@NotificationDetails" header="Notification Details" [(visible)]="displayDialog" [responsive]="true"  [modal]="true" [closable]="false" [contentStyle]="{'overflow': 'scroll'}">
    <app-notification *ngIf="selectedNotificationid$" [notificationId$]="selectedNotificationid$"   (onNotificationUpdate)="handleNotificationUpdate($event)" (onNotificationCreate)="handleNotificationCreate($event)"
                      (onNotificationDelete)="handleNotificationDeleted($event)" (onNotificationQuit)="handleNotificationQuit()"></app-notification>
</p-dialog>
