    <p-table #dt [value]="users" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
             [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading"
             [paginator]="true" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
             [filterDelay]="0" >
        <ng-template pTemplate="caption">
            <div class="table-header">
               Users <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <input #ilogin pInputText type="text" placeholder="Search by login" class="p-column-filter" (change)="dt.reset()">
                        <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(ilogin.value, 'idUser', 'contains')"></p-button>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <input #iname pInputText type="text" placeholder="Search by name" class="p-column-filter" (change)="dt.reset()">
                          <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(iname.value, 'userName', 'contains')"></p-button>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <input #ilanguage pInputText type="text" placeholder="Search by language" class="p-column-filter" (change)="dt.reset()">
                        <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(ilanguage.value, 'idLanguage', 'startsWith')"></p-button>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <input #imail pInputText type="text" placeholder="Search by email" class="p-column-filter" (change)="dt.reset()">
                        <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(imail.value, 'email', 'contains')"></p-button>
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        <input #irights pInputText type="text" placeholder="Search by rights" class="p-column-filter" (change)="dt.reset()">
                        <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(irights.value, 'rights', 'contains')"></p-button>
                    </div>
                </th>
            </tr>
            <tr>
                <th pSortableColumn="idUser">
                    <div class="p-d-flex p-jc-between p-ai-center">
                       Login
                        <p-sortIcon field="idUser"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="userName">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nom
                        <p-sortIcon field="userName"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="idLanguage">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Langue
                        <p-sortIcon field="idLanguage"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="email">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="rights">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Droits
                        <p-sortIcon field="rights"></p-sortIcon>
                    </div>
                </th>

                <th style="width: 8rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr (click)="handleSelect(user)">
                <td *ngFor="let col of cols">
                    {{user[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
            Au total il y a {{totalRecords}} utilisateurs dans la selection.
            </div>
        </ng-template>

</p-table>

<p-dialog header="User Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [style]="{'width':'1800px'}">
    <app-user *ngIf="user" [user]="user" (onUserUpdate)="handleUserUpdate($event)" (onUserDelete)="handleUserDeleted($event)" (onUserQuit)="handleUserQuit()"></app-user>
</p-dialog>



