    <p-table #dt [value]="users" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
             [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
             [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
             [globalFilterFields]="['idUser','userName', 'idOrg','idLanguage', 'email', 'rights']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-6">
                        {{ getTitle() }}
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@ShowArchived" for="archived">Show Archived?</label>
                        <p-checkbox [value]="booShowArchived" binary="true" name="archived" id="archived" (onChange)="changeArchiveFilter($event)"></p-checkbox>
                    </div>
                    <div *ngIf="booShowOrganisations" class="p-field p-col-12 p-md-4">
                        <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                         (onSelect)="filterOrganisationUsers($event.idDis);"
                                         [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                            <ng-template let-organisation pTemplate="item">
                                <div class="organisation-item">
                                    <div> {{organisation.fullname}} </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>

                    <div *ngIf="booCanCreate" class="p-field p-col-12 p-md-2">
                        <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddUser" label="Add User"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th i18n="@@UserLoginSorted" pSortableColumn="idUser">Login<p-sortIcon field="idUser"></p-sortIcon></th>
                <th colspan="2" i18n="@@MemberNameSorted" pSortableColumn="membreNom">Name<p-sortIcon field="membreNom"></p-sortIcon></th>
                <th colspan="2" i18n="@@Organisation"  *ngIf="booShowOrganisations" >Organisation</th>
                <th i18n="@@MemberLanguageSorted" pSortableColumn="membreLangue">Language<p-sortIcon field="membreLangue"></p-sortIcon></th>
                <th colspan="2" i18n="@@MemberEmailSorted" pSortableColumn="membreEmail">E-Mail<p-sortIcon field="membreEmail"></p-sortIcon></th>
                <th i18n="@@RightsSorted" pSortableColumn="rights" >Role<p-sortIcon field="rights"></p-sortIcon></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="idUser" matchMode="contains" [showMenu]="false" ></p-columnFilter>
                </th>
                <th colspan="2">
                    <p-columnFilter type="text" field="membreNom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
                </th>
                <th colspan="2" *ngIf="booShowOrganisations">
                </th>
                <th>
                    <p-columnFilter field="membreLangue" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="languageOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th colspan="2">
                    <p-columnFilter type="text" field="membreEmail" matchMode="contains" [showMenu]="false"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="rights" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="rightOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span>{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr (click)="handleSelect(user)">
                <td>
                    {{ user.idUser }}
                </td>
                <td colspan="2">
                    {{user.membreNom}}  {{user.membrePrenom}}
                </td>
                <td colspan="2" *ngIf="booShowOrganisations">
                    <div *ngIf="user.idOrg > 0">
                        {{ user.idOrg }} {{ user.societe }}
                    </div>
                </td>
                <td>
                    {{ labelLanguage(user.membreLangue) }}
                </td>
                <td colspan="2">
                    {{user.membreEmail}}
                </td>
                <td>
                    {{ labelRights(user.rights )}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div i18n="@@UsersSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} users selected.
            </div>
        </ng-template>

</p-table>
<p-toast></p-toast>
<p-dialog i18n-header="@@UserDetails" header="User Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [closable]="false" >
    <app-user *ngIf="selectedIdUser$" [idUser$]="selectedIdUser$" [currentFilteredOrg] ="filteredOrganisation" (onUserUpdate)="handleUserUpdate($event)" (onUserCreate) ="handleUserCreate($event)"
              (onUserDelete)="handleUserDeleted($event)" (onUserQuit)="handleUserQuit()"></app-user>
</p-dialog>



