<ng-container *ngIf="users$ | async as users">
<p-table  [value]="users" selectionMode="single"  [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
            Utilisateurs
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr (click)="handleSelect(user)">
            <td *ngFor="let col of cols">
                {{user[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
           Au total il y a {{users ? users.length : 0 }} utilisateurs.
        </div>
    </ng-template>
</p-table>
</ng-container>


