<p-panel *ngIf="organisation">
    <ng-template  pTemplate="header">
        <div i18n="@@OrganisationHeader">
       Organisation {{ organisation.idDis}} {{ organisation.societe}} Updated on {{organisation.lupdTs}} By {{organisation.lupdUserName}}
        </div>
    </ng-template>
    <form   #organisationForm="ngForm">

        <p-accordion>
            <div class="p-formgroup-inline">
                <button i18n-label="@@Delete" *ngIf="booCanDelete" type="button" pButton icon="pi pi-times" (click)="delete($event,organisation)" label="Delete"></button>
                <button i18n-label="@@Save" *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(organisation, organisationForm.value)" label="Save" [disabled] = "organisationForm.invalid"></button>
                <button i18n-label="@@Return" *ngIf="booCanQuit" type="button" pButton icon="pi pi-check" (click)="quit($event, organisation, organisationForm,organisationForm.dirty)" label="Return" ></button>
            </div>
            <p-accordionTab i18n-header="@@Organisation" header="Organisation"  [selected]="true">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationName" for="societe">Name Company</label>
                        <input #societe="ngModel" pInputText id="societe" name="societe" required minlength = "4" maxlength="100" [ngModel]="organisation.societe" />
                        <p-message i18n-text="@@OrganisationIsMandatory" *ngIf="societe.invalid && organisationForm.touched" severity="error" text="Organisation Name is required and must be minimum 4 chars long"></p-message>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrgRefInt" for="refInt">Internal Reference</label>
                        <input  pInputText id="refInt" name="refInt"  maxlength="15" [ngModel]="organisation.refInt" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@Depot" for="selectedDepot">Depot</label>
                        <p-autoComplete  [(ngModel)]="selectedDepot" [suggestions]="filteredDepots"  (completeMethod)="filterDepot($event)"
                                         [forceSelection]="true"  id="selectedDepot" name="selectedDepot" field="societe" [dropdown]="true">
                        </p-autoComplete>
                    </div>
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrgAgreed" for="agreed">Agreed</label>
                        <p-inputSwitch id="agreed" name="agreed" [ngModel]="organisation.agreed"></p-inputSwitch>
                    </div>
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@Active" for="actif">Active</label>
                        <p-inputSwitch id="actif" name="actif" [ngModel]="organisation.actif"></p-inputSwitch>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label  i18n="@@OrganisationRegion" for="statut">Region</label>
                        <p-dropdown [options]="regions" id="region" name="region" [ngModel]="organisation.region"></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationNumber" for="tva">Nr/Vat Enterprise</label>
                        <input pInputText id="tva" name="tva" maxlength="50" [ngModel]="organisation.tva" />
                    </div>

                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrgSuspended" for="susp">Suspended</label>
                        <p-checkbox id="susp" name="susp" [ngModel]="organisation.susp" binary="true" inputId="binary"></p-checkbox>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrgSuspEndDate" for="stopSusp">End Susp</label>
                        <input #stopSusp="ngModel" pInputText id="stopSusp" name="stopSusp"  pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$" placeholder="dd/mm/yyyy" [ngModel]="organisation.stopSusp"/>
                        <p-message i18n-text="@@StopSuspDateInvalid"  *ngIf="stopSusp.invalid && organisationForm.touched" severity="error" text="End of Suspension Date must in format dd/mm/yyyy"></p-message>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrgCategory" for="classeFbba1">Category</label>
                        <p-dropdown [options]="orgCategories" id="classeFbba1" name="classeFbba1" [ngModel]="organisation.classeFbba1"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrgCategory" for="classeFbba2">Category</label>
                        <p-dropdown [options]="orgCategories" id="classeFbba2" name="classeFbba2" [ngModel]="organisation.classeFbba2"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrgCategory" for="classeFbba3">Category</label>
                        <p-dropdown [options]="orgCategories" id="classeFbba3" name="classeFbba3" [ngModel]="organisation.classeFbba3"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label  i18n="@@OrganisationStatus" for="statut">Status Company</label>
                        <p-dropdown [options]="statuts" id="statut" name="statut" [ngModel]="organisation.statut"></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationDistAddress" for="adresse">Distribution Address</label>
                        <input pInputText id="adresse" name="adresse" maxlength="100" [ngModel]="organisation.adresse" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@ZipCode" for="cp">Zip Code</label>
                        <input pInputText id="cp" name="cp" maxlength="6" [ngModel]="organisation.cp" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@City" for="localite">City</label>
                        <input pInputText id="localite" name="localite" maxlength="50" [ngModel]="organisation.localite" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Country" for="pays">Country</label>
                        <p-dropdown [options]="countries" id="pays" name="pays" [ngModel]="organisation.pays"  ></p-dropdown>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@Email" for="email">E-mail</label>
                        <input pInputText id="email" name="email" maxlength="100" [ngModel]="organisation.email" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label  i18n="@@Phone" for="tel">Telephone</label>
                        <input pInputText id="tel" name="tel" maxlength="50" [ngModel]="organisation.tel" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Mobile" for="mobile">Mobile</label>
                        <input pInputText id="mobile" name="mobile" maxlength="50" [ngModel]="organisation.gsm" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="afsca">Code AFSCA</label>
                        <input pInputText id="afsca" name="afsca" maxlength="20" [ngModel]="organisation.afsca" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@Website" for="website">Web Site</label>
                        <input pInputText id="website" name="website"  [ngModel]="organisation.website" />
                    </div>

                    <div class="p-field p-col-12 p-md-4">
                        <label i18n="@@OrganisationHeadQuarters" for="adresse2">Headquarters Address</label>
                        <input pInputText id="adresse2" name="adresse2" maxlength="100" [ngModel]="organisation.adresse2" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@ZipCode" for="cp2">Zip Code</label>
                        <input pInputText id="cp2" name="cp2" maxlength="6" [ngModel]="organisation.cp2" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@City" for="localite2">City</label>
                        <input pInputText id="localite2" name="localite2" maxlength="50" [ngModel]="organisation.localite2" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@Country" for="pays2">Country</label>
                        <p-dropdown [options]="countries" id="pays2" name="pays2" [ngModel]="organisation.pays2"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Bank" for="banque">Bank</label>
                        <input pInputText id="banque" name="banque" maxlength="50" [ngModel]="organisation.banque" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label for="iban">IBAN</label>
                        <input pInputText id="iban" name="iban" maxlength="50" [ngModel]="organisation.iban" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationIsGuestHome" for="msonac">Guest Home?</label>
                        <p-inputSwitch id="msonac" name="msonac" [ngModel]="organisation.msonac"></p-inputSwitch>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationGuestCapacity" for="nbrefix">Guest Capacity</label>
                        <p-inputNumber [ngModel]="organisation.nbrefix" id="nbrefix" name="nbrefix" mode="decimal" [showButtons]="true" inputId="nbrefix" [min]="0" [max]="500">
                        </p-inputNumber>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab i18n-header="@@Management" header="Management">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrganisationPresidentGender" for="civilite">Gender President</label>
                        <p-dropdown [options]="genders" id="civilite" name="civilite" [ngModel]="organisation.civilite"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationPresidentFirstName" for="prenom">First Name President</label>
                        <input pInputText id="prenom" name="prenom" maxlength="50" [ngModel]="organisation.prenom" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationPresidentName" for="nom">Name President</label>
                        <input pInputText id="nom" name="nom" maxlength="50" [ngModel]="organisation.nom" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationPresidentTel" for="telPres">Tel President</label>
                        <input pInputText id="telPres" name="telPres" maxlength="15" [ngModel]="organisation.telPres" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationPresidentMobile" for="gsmPres">Mobile President</label>
                        <input pInputText id="gsmPres" name="gsmPres" maxlength="20" [ngModel]="organisation.gsmPres" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationPresidentEmail" for="emailPres">Email President</label>
                        <input pInputText id="emailPres" name="emailPres" maxlength="50" [ngModel]="organisation.emailPres" />
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrganisationVPGender" for="civiliteVp">Gender Vice-President</label>
                        <p-dropdown [options]="genders" id="civiliteVp" name="civiliteVp" [ngModel]="organisation.civiliteVp"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationVPFirstName" for="prenomVp">First Name Vice-President</label>
                        <input pInputText id="prenomVp" name="prenomVp" maxlength="50" [ngModel]="organisation.prenomVp" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationVPName" for="nomVp">Name Vice-President</label>
                        <input pInputText id="nomVp" name="nomVp" maxlength="50" [ngModel]="organisation.nomVp" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationVPTel" for="telVp">Tel Vice-President</label>
                        <input pInputText id="telVp" name="telVp" maxlength="15" [ngModel]="organisation.telVp" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationVPMobile" for="gsmVp">Gsm Vice-President</label>
                        <input pInputText id="gsmVp" name="gsmVp" maxlength="20" [ngModel]="organisation.gsmVp" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationVPEmail" for="emailVp">Email Vice-President</label>
                        <input pInputText id="emailVp" name="emailVp" maxlength="50" [ngModel]="organisation.emailVp" />
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrganisationSecGender" for="civiliteSec">Gender Secretary</label>
                        <p-dropdown [options]="genders" id="civiliteSec" name="civiliteSec" [ngModel]="organisation.civiliteSec"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationSecFirstName" for="prenomSec">First Name Secretary</label>
                        <input pInputText id="prenomSec" name="prenomSec" maxlength="50" [ngModel]="organisation.prenomSec" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationSecName" for="nomSec">Name Secretary</label>
                        <input pInputText id="nomSec" name="nomSec" maxlength="50" [ngModel]="organisation.nomSec" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationSecTel" for="telSec">Tel Secretary</label>
                        <input pInputText id="telSec" name="telSec" maxlength="15" [ngModel]="organisation.telSec" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationSecMobile" for="gsmSec">Mobile Secretary</label>
                        <input pInputText id="gsmSec" name="gsmSec" maxlength="20" [ngModel]="organisation.gsmSec" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationSecEmail" for="emailSec">Email Secretary</label>
                        <input pInputText id="emailSec" name="emailSec" maxlength="50" [ngModel]="organisation.emailSec" />
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrganisationTreasGender" for="civiliteTres">Gender Treasurer</label>
                        <p-dropdown [options]="genders" id="civiliteTres" name="civiliteTres" [ngModel]="organisation.civiliteTres"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationTreasFirstName" for="prenomTres">First Name Treasurer</label>
                        <input pInputText id="prenomTres" name="prenomTres" maxlength="50" [ngModel]="organisation.prenomTres" />
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationTreasName" for="nomTres">Name Treasurer</label>
                        <input pInputText id="nomTres" name="nomTres" maxlength="50" [ngModel]="organisation.nomTres" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationTreasTel" for="telTres">Tel Treasurer</label>
                        <input pInputText id="telTres" name="telTres" maxlength="15" [ngModel]="organisation.telTres" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationTreasMobile" for="gsmTres">Mobile Treasurer</label>
                        <input pInputText id="gsmTres" name="gsmTres" maxlength="20" [ngModel]="organisation.gsmTres" />
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationTreasEmail" for="emailTres">Email Treasurer</label>
                        <input pInputText id="emailTres" name="emailTres" maxlength="50" [ngModel]="organisation.emailTres" />
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab i18n-header="@@OrganisationContacts" header="Contacts">
                <app-orgcontacts  [lienAsso$]="idDis$"></app-orgcontacts>
            </p-accordionTab>

            <p-accordionTab i18n-header="@@FEADAndNonFOOD" header="FEAD and Non-Food Activities">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-12">
                        <input i18n-placeholder="@@OrganisationDistribProgram" pInputText id="disprog" name="disprog" maxlength="100" placeholder="Distribution Program" [ngModel]="organisation.disprog" />
                    </div>
                    <div class="p-field p-col-12 p-md-1">
                        <label for="birbCode">FEAD Code</label>
                        <input pInputText id="birbCode" name="birbCode" maxlength="10" [ngModel]="organisation.birbCode" />
                    </div>
                    <div class="p-field p-col-12 p-md-1">
                        <label i18n="@@OrgFeadFromUs" for="feadN">FEAD from us?</label>
                        <p-inputSwitch id="feadN" name="feadN" [ngModel]="organisation.feadN"></p-inputSwitch>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@OrganisationNbFEADBeneficiaries" for="nrFead">Nb FEAD Beneficiaries</label>
                        <p-inputNumber [ngModel]="organisation.nrFead" id="nrFead" name="nrFead" mode="decimal" [showButtons]="true" inputId="nrFead" [min]="0" [max]="500">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp1">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp1" name="actComp1" [ngModel]="organisation.actComp1"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp2">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp2" name="actComp2" [ngModel]="organisation.actComp2"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp3">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp3" name="actComp3" [ngModel]="organisation.actComp3"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp4">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp4" name="actComp4" [ngModel]="organisation.actComp4"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp5">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp5" name="actComp5" [ngModel]="organisation.actComp5"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-2">
                        <label i18n="@@Activity" for="actComp6">Activity</label>
                        <p-dropdown [options]="orgActivities" id="actComp6" name="actComp6" [ngModel]="organisation.actComp6"  ></p-dropdown>
                    </div>
                    <div class="p-field p-col-12 p-md-12">
                        <label i18n="@@ActivityOther" for="actComp7">Other Activity</label>
                        <input pInputText id="actComp7" name="actComp7" maxlength="100" [ngModel]="organisation.actComp7" />
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab i18n-header="@@OrganisationPublicAuthorities"  *ngIf="organisation.lienBanque < 11" header="Relations with the Public authorities">

                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationCpasCooperation" for="cpasyN">Cooperation with CPAS/OCMW?</label>
                        <p-inputSwitch id="cpasyN" name="cpasyN" [ngModel]="organisation.cpasyN"></p-inputSwitch>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label i18n="@@Cpas" for="selectedCpas">Cpas</label>
                        <p-autoComplete  [(ngModel)]="selectedCpas" [suggestions]="filteredCpass"  (completeMethod)="filterCpas($event)"
                                         [forceSelection]="true"  id="selectedCpas" name="selectedCpas" field="cpasName" [dropdown]="true">
                        </p-autoComplete>
                    </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label i18n="@@OrganisationFead" for="birbyN">Does the public authority validate the access of beneficiaries to FEAD?</label>
                        <p-inputSwitch id="birbyN" name="birbyN" [ngModel]="organisation.birbyN"></p-inputSwitch>
                    </div>
                </div>
            </p-accordionTab>

        </p-accordion>
    </form>
    <form #detailForm="ngForm">
        <p-accordion>
            <p-accordionTab *ngIf="orgProg" i18n-header="@@OrganisationActivities" header="Detailed Activities">

                    <div *ngIf="booCanSave" class="p-formgroup-inline">
                        <button  type="button" pButton icon="pi pi-check" (click)="saveDetails(orgProg, detailForm.value)" i18n-label="@@Save" label="Save" [disabled] = "detailForm.invalid"></button>
                    </div>
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@MondayMorning" for="luam">Monday Morning</label>
                            <p-inputSwitch id="luam" name="luam" [ngModel]="orgProg.luam"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="reluam" name="reluam"  placeholder="Activity Description" [ngModel]="orgProg.reluam" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@MondayAfternoon" for="lupm">Monday Afternoon</label>
                            <p-inputSwitch id="lupm" name="lupm" [ngModel]="orgProg.lupm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="relupm" name="relupm" placeholder="Activity Description" [ngModel]="orgProg.relupm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@TuesdayMorning" for="tuam">Tuesday Morning</label>
                            <p-inputSwitch id="tuam" name="tuam" [ngModel]="orgProg.tuam"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="retuam" name="retuam" placeholder="Activity Description" [ngModel]="orgProg.retuam" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@TuesdayAfternoon" for="tupm">Tuesday Afternoon</label>
                            <p-inputSwitch id="tupm" name="tupm" [ngModel]="orgProg.tupm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="retupm" name="retupm" placeholder="Activity Description" [ngModel]="orgProg.retupm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@WednesdayMorning" for="weam">Wednesday Morning</label>
                            <p-inputSwitch id="weam" name="weam" [ngModel]="orgProg.weam"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="reweam" name="reweam" placeholder="Activity Description" [ngModel]="orgProg.reweam" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@WednesdayAfternoon" for="wepm">Wednesday Afternoon</label>
                            <p-inputSwitch id="wepm" name="wepm" [ngModel]="orgProg.wepm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="rewepm" name="rewepm" placeholder="Activity Description" [ngModel]="orgProg.rewepm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@ThursdayMorning" for="tham">Thursday Morning</label>
                            <p-inputSwitch id="tham" name="tham" [ngModel]="orgProg.tham"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="retham" name="retham" placeholder="Activity Description" [ngModel]="orgProg.retham" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@ThursdayAfternoon" for="thpm">Thursday Afternoon</label>
                            <p-inputSwitch id="thpm" name="thpm" [ngModel]="orgProg.thpm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="rethpm" name="rethpm" placeholder="Activity Description" [ngModel]="orgProg.rethpm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@FridayMorning" for="fram">Friday Morning</label>
                            <p-inputSwitch id="fram" name="fram" [ngModel]="orgProg.fram"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="refram" name="refram" placeholder="Activity Description" [ngModel]="orgProg.refram" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@FridayAfternoon" for="frpm">Friday Afternoon</label>
                            <p-inputSwitch id="frpm" name="frpm" [ngModel]="orgProg.frpm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="refrpm" name="refrpm" placeholder="Activity Description" [ngModel]="orgProg.refrpm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@SaturdayMorning" for="saam">Saturday Morning</label>
                            <p-inputSwitch id="saam" name="saam" [ngModel]="orgProg.saam"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="resaam" name="resaam" placeholder="Activity Description" [ngModel]="orgProg.resaam" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@SaturdayAfternoon" for="sapm">Saturday Afternoon</label>
                            <p-inputSwitch id="sapm" name="sapm" [ngModel]="orgProg.sapm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="resapm" name="resapm" placeholder="Activity Description" [ngModel]="orgProg.resapm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@SundayMorning" for="sunam">Sunday Morning</label>
                            <p-inputSwitch id="sunam" name="sunam" [ngModel]="orgProg.sunam"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="resunam" name="resunam" placeholder="Activity Description" [ngModel]="orgProg.resunam" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@SundayAfternoon" for="sunpm">Sunday Afternoon</label>
                            <p-inputSwitch id="sunpm" name="sunpm" [ngModel]="orgProg.sunpm"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            <input i18n-placeholder="@@OrganisationActivityDescription" pInputText id="resunpm" name="resunpm" placeholder="Activity Description" [ngModel]="orgProg.resunpm" />
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@OrganisationPorkFood" for="porc">Pork Food</label>
                            <p-inputSwitch id="porc" name="porc" [ngModel]="orgProg.porc"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@OrganisationFreshVegetables" for="legFrais">Fresh Vegetables</label>
                            <p-inputSwitch id="legFrais" name="legFrais" [ngModel]="orgProg.legFrais"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@OrganisationFrozenFood" for="congel">Frozen Food</label>
                            <p-inputSwitch id="congel" name="congel" [ngModel]="orgProg.congel"></p-inputSwitch>
                        </div>
                        <div class="p-field p-col-12 p-md-2">
                            <label i18n="@@OrganisationFrozenCapacity" for="congel">Frozen Food Capacity</label>
                            <input pInputText id="congelCap" name="congelCap" [ngModel]="orgProg.congelCap" />
                        </div>
                    </div>

            </p-accordionTab>

        </p-accordion>
    </form>
    <p-confirmPopup></p-confirmPopup>

</p-panel>
