<p-panel>
    <form  *ngIf="banque$ | async as banque" #banqueForm="ngForm">
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="idDis">Identifiant</label>
                <input pInputText id="idDis" name="idDis" [ngModel]="banque.bankId" />
            </div>
            <div class="p-field p-col">
                <label for="bankShortName">Banque</label>
                <input pInputText id="bankShortName" name="bankShortName" [ngModel]="banque.bankShortName" />
            </div>
            <div class="p-field p-col">
                <label for="bankName">Nom</label>
                <input pInputText id="bankName" name="bankName" [ngModel]="banque.bankName" />
            </div>
        </div>
        <div class="ui-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="adresse">Adresse</label>
                <input pInputText id="adresse" name="adresse" [ngModel]="banque.adresse" />
            </div>

            <div class="p-field p-col">
                <label for="cp">cp</label>
                <input pInputText id="cp" name="cp" [ngModel]="banque.cp" />
            </div>
            <div class="p-field p-col">
                <label for="localite">Commune</label>
                <input pInputText id="localite" name="localite" [ngModel]="banque.localite" />
            </div>
            <div class="p-field p-col">
                <label for="bankMail">E-mail</label>
                <input pInputText id="bankMail" name="bankMail" [ngModel]="banque.bankMail" />
            </div>
        </div>
        <div class="p-formgroup-inline">
            <button type="button" pButton icon="pi pi-times" (click)="delete(banqueForm.value)" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save(banque, banqueForm.value)" label="Save"></button>
            <button type="button" pButton icon="pi pi-check" (click)="return()" label="return"></button>
        </div>
    </form>


</p-panel>
