<p-table #dt [value]="membres" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [globalFilterFields]="['nom','prenom', 'lienDis', 'address', 'zip', 'city']"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    {{ getTitle() }}
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label i18n="@@ShowArchived" for="archived">Show Archived?</label>
                    <p-checkbox [value]="booShowArchived" binary="true" name="archived" id="archived" (onChange)="changeArchiveFilter($event)"></p-checkbox>
                </div>
                <div *ngIf="booShowOrganisations" class="p-field p-col-12 p-md-4">
                    <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                     (onSelect)="filterOrganisationMembers($event.idDis);"
                                     [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                        <ng-template let-organisation pTemplate="item">
                            <div class="organisation-item">
                                <div> {{organisation.fullname}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div *ngIf="booCanCreate" class="p-field p-col-12 p-md-2">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddEmployee" label="Add Employee"></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@NameSorted" pSortableColumn="nom">Name<p-sortIcon field="nom"></p-sortIcon></th>
            <th i18n="@@NameFirstSorted" pSortableColumn="prenom">First Name<p-sortIcon field="prenom"></p-sortIcon></th>
            <th i18n="@@Organisation"  *ngIf="booShowOrganisations"  colspan="2" >Organisation</th>
            <th i18n="@@AddressSorted"  colspan="2" pSortableColumn="address" >Address<p-sortIcon field="address"></p-sortIcon></th>
            <th i18n="@@ZipCodeSorted" pSortableColumn="zip">Zip Code<p-sortIcon field="zip"></p-sortIcon></th>
            <th i18n="@@CitySorted" pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="nom" matchMode="equals" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="prenom" matchMode="equals" [showMenu]="false" ></p-columnFilter>
            </th>
            <th *ngIf="booShowOrganisations" colspan="2" >
            </th>
            <th>
                <p-columnFilter type="text" field="address" matchMode="equals" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
            </th>
            <th>
                <p-columnFilter type="text" field="zip" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="city" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-membre>
        <tr (click)="handleSelect(membre)">
            <td>
                {{ membre.nom }}
            </td>
            <td>
                {{membre.prenom}}
            </td>
            <td *ngIf="booShowOrganisations" colspan="2" >
                <div *ngIf="membre.lienDis > 0">
                {{ membre.lienDis }} {{ membre.societe }}
                </div>
            </td>
            <td colspan="2" >
                {{membre.address}}
            </td>
            <td>
                {{membre.zip}}
            </td>
            <td>
                {{membre.city}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@EmployeesSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} employees in the selection.
        </div>
    </ng-template>
    <p-toast></p-toast>
</p-table>
<p-dialog i18n-header="@@EmployeeDetails" header="Employee Details" [(visible)]="displayDialog" [responsive]="true"  [modal]="true" [closable]="false" [contentStyle]="{'overflow': 'visible'}">
    <app-membre *ngIf="selectedBatid$" [batId$]="selectedBatid$"  [currentFilteredOrg] ="filteredOrganisation" (onMembreUpdate)="handleMembreUpdate($event)" (onMembreCreate)="handleMembreCreate($event)"
                (onMembreDelete)="handleMembreDeleted($event)" (onMembreQuit)="handleMembreQuit()"></app-membre>
</p-dialog>


