<p-panel  *ngIf="donateur">
<form  #donateurForm="ngForm">
    <div class="p-formgroup-inline">
        <button  *ngIf="booCanDelete" type="button" pButton icon="pi pi-times" (click)="delete($event,donateur)" i18n-label="@@Delete" label="Delete"></button>
        <button  *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(donateur, donateurForm.value)" [disabled] = "donateurForm.invalid" i18n-label="@@Save" label="Save"></button>
        <button *ngIf="booCanQuit" type="button" pButton icon="pi pi-check" (click)="quit($event, donateur, donateurForm, donateurForm.dirty)" i18n-label="@@Return" label="Return" ></button>
    </div>
    <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-2">
            <label i18n="@@TitleMandatory" for="titre">Title *</label>
            <input #nom="ngModel" pInputText id="titre" name="titre" required maxlength="40" [ngModel]="donateur.titre" />
            <p-message *ngIf="nom.invalid && donateurForm.touched" severity="error" text="Donator Title is required"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label i18n="@@NameMandatory" for="nom">Name *</label>
            <input #nom="ngModel" pInputText id="nom" name="nom" required  maxlength="50" [ngModel]="donateur.nom" />
            <p-message *ngIf="nom.invalid && donateurForm.touched" severity="error" text="Donator Name is required"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label i18n="@@NameFirstMandatory" for="prenom">First Name *</label>
            <input #prenom="ngModel" pInputText id="prenom" name="prenom" required maxlength="30" [ngModel]="donateur.prenom" />
            <p-message *ngIf="prenom.invalid && donateurForm.touched" severity="error" text="Donator First Name is required"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-5">
            <label i18n="@@AdresseMandatory" for="adresse">Address *</label>
            <input #nom="ngModel" pInputText id="adresse" name="adresse" required  maxlength="100" [ngModel]="donateur.adresse" />
            <p-message *ngIf="nom.invalid && donateurForm.touched" severity="error" text="Donator Address is required"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label i18n="@@CityMandatory" for="city">City *</label>
            <input #nom="ngModel" pInputText id="city" name="city" required  maxlength="50" [ngModel]="donateur.city" />
            <p-message *ngIf="nom.invalid && donateurForm.touched" severity="error" text="Donator City is required"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-2">
            <label i18n="@@ZipCodeMandatory" for="cp">Zip Code *</label>
            <input #nom="ngModel" pInputText id="cp" name="cp" required  maxlength="8"  pattern ="^[0-9]+$" [ngModel]="donateur.cp" />
            <p-message *ngIf="nom.invalid && donateurForm.touched" severity="error" text="Donator Zip Code is required and must be numeric"></p-message>
        </div>
        <div class="p-field p-col-12 p-md-2">
            <label i18n="@@Country" for="pays">Country</label>
            <p-dropdown [options]="countries" id="pays" name="pays" [ngModel]="donateur.pays" ></p-dropdown>
        </div>
    </div>
    <p-confirmPopup></p-confirmPopup>
</form>
</p-panel>
