<p-panel>
    <ng-template pTemplate="header">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <h3 >{{ getTitle() }}</h3>
            </div>
        </div>

    </ng-template>
    <ng-template  pTemplate="content">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
                <p-radioButton  name="viewOption" value="1" [(ngModel)]="viewOption" inputId="viewOption1"></p-radioButton>
                <label for="viewOption1" class="ml-2" i18n="@@ShowNormal">Show Normal</label>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <p-radioButton  name="viewOption" value="2" [(ngModel)]="viewOption" inputId="viewOption2"></p-radioButton>
                <label for="viewOption2" class="ml-2" i18n="@@ShowSimple">Show Simple</label>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <p-radioButton  name="viewOption" value="3" [(ngModel)]="viewOption" inputId="viewOption3"></p-radioButton>
                <label for="viewOption3" class="ml-2" i18n="@@ShowWorkList">Show WorkList</label>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <button i18n="@@PrintReport" class="p-button p-text-center"  printSectionId="print-section" printTitle="{{orgName}}"  [printStyle]="{td : {'border': 'solid 1px'}, th: {'border': 'solid 1px'}}" ngxPrint>Print this Report</button>
            </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div *ngIf="organisations" class="p-field p-col-12 p-md-5">
                <label pTooltip="{{generateTooltipOrganisation()}}" i18n="@@FilterOnOrganisations" for="filteredOrganisation">Filter on Organisations?</label>
                <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                 (onSelect)="loadOrganisationBeneficiaries($event);"
                                 [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                    <ng-template let-organisation pTemplate="item">
                        <div class="organisation-item">
                            <div> {{organisation.fullname}} </div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@FeadStatus" for="birbFilter">Fead Status</label>
                <p-dropdown [options]="feadStatuses" id="birbFilter" name="birbFilter"  [ngModel]="birbFilter" (onChange)="FilterBirb($event.value)"></p-dropdown>
            </div>
            <div *ngIf="organisations" class="p-field p-col-12 p-md-2">
                <label i18n="@@ZipCode" for="zipCodeFilter">Zip Code</label>
                <p-dropdown [options]="zipcodeOptions" id="zipCodeFilter" name="zipCodeFilter"  [ngModel]="zipCodeFilter" (onChange)="FilterZipcode($event.value)"></p-dropdown>
            </div>
            <div *ngIf="organisations" class="p-field p-col-12 p-md-2">
                <label i18n="@@ShowDoubles" for="doubles">Show Doubles?</label>
                <p-checkbox [value]="booShowDoubles" binary="true" name="doubles" id="doubles" (onChange)="filterDoubles($event.checked)"></p-checkbox>
            </div>
        </div>
    </ng-template>
</p-panel>
<p-progressSpinner *ngIf="!booIsLoaded"></p-progressSpinner>
<p-table id="print-section" #dt [value]="beneficiaires" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <div *ngIf="summaryMessage" class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div  class="p-field p-col-12 p-md-12 p-text-bold">
                    {{summaryMessage}}
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf ="viewOption == '1'" i18n="@@InternalId">Internal ID</th>
            <th i18n="@@Name" >Name</th>
            <th *ngIf ="viewOption == '1'" i18n="@@Partner">Partner</th>
            <th *ngIf ="viewOption == '1' || viewOption == '2'" i18n="@@Address" >Address</th>
            <th *ngIf ="viewOption == '1' || viewOption == '2'" i18n="@@Tel" >Tel</th>
            <th *ngIf ="viewOption == '1'" >FEAD</th>
            <th *ngIf ="viewOption == '1'" i18n="@@NbDependents" [pTooltip]="getDependentsTooltip()">Nb Dependents</th>
            <th *ngIf ="viewOption == '1' || viewOption == '3'" [pTooltip]="getCoeffTooltip()">COEFF</th>
            <th *ngIf ="viewOption == '3'" style="min-width: 200px"></th>
            <th *ngIf ="viewOption == '3'" style="min-width: 200px"></th>
            <th *ngIf ="viewOption == '3'" style="min-width: 200px"></th>
            <th *ngIf ="viewOption == '3'" style="min-width: 200px"></th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-beneficiaire>
        <tr>
            <td *ngIf ="viewOption == '1'">
                {{beneficiaire.idInt}}
            </td>
            <td >
                {{ beneficiaire.nom }}  {{beneficiaire.prenom}}
            </td>
            <td *ngIf ="viewOption == '1'">
                {{beneficiaire.nomconj}} {{beneficiaire.prenomconj}}
            </td>
            <td *ngIf ="viewOption == '1' || viewOption == '2'">
                {{beneficiaire.adresse}} {{beneficiaire.cp}} {{beneficiaire.localite}}
            </td>
            <td *ngIf ="viewOption == '1' || viewOption == '2'">
                {{beneficiaire.gsm}} {{beneficiaire.tel}}
            </td>

            <td *ngIf ="viewOption == '1'">
                {{labelBirb(beneficiaire.birb)}}
            </td>

            <td *ngIf ="viewOption == '1'" [pTooltip]="getDependentsTooltip()">
                {{beneficiaire.nbFamily}}
            </td>
            <td *ngIf ="viewOption == '1' || viewOption == '3'" [pTooltip]="getCoeffTooltip()">
                {{labelCoeff(beneficiaire.coeff)}}
            </td>
            <td *ngIf ="viewOption == '3'" >
            </td>
            <td *ngIf ="viewOption == '3'" >
            </td>
            <td *ngIf ="viewOption == '3'" >
            </td>
            <td *ngIf ="viewOption == '3'" >
            </td>
        </tr>
    </ng-template>
</p-table>
