<p-panel>
    <ng-template pTemplate="header">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-9">
                <h3 >{{ getTitle() }}</h3>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label i18n="@@ShowSimpler" for="booShowSimpler">Vue Simplifiée ?</label>
                <p-checkbox  [(ngModel)]="booShowSimpler" binary="true" name="booShowSimpler" id="booShowSimpler" ></p-checkbox>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <button i18n="@@PrintReport" class="p-button p-text-center"  printSectionId="print-section" printTitle="{{orgName}}"  [printStyle]="{td : {'border': 'solid 1px'}, th: {'border': 'solid 1px'}}" ngxPrint>Print this Report</button>
            </div>
        </div>
    </ng-template>
    <ng-template  pTemplate="content">
        <div *ngIf="organisations" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-5">
                <label for="filteredOrganisation" i18n="@@OrganisationFilter">Choose Organisation</label>
                <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                 (onSelect)="loadOrganisationBeneficiaries($event);"
                                 [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                    <ng-template let-organisation pTemplate="item">
                        <div class="organisation-item">
                            <div> {{organisation.fullname}} </div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@FeadStatus" for="birbFilter">Fead Status</label>
                <p-dropdown [options]="feadStatuses" id="birbFilter" name="birbFilter"  [ngModel]="birbFilter" (onChange)="FilterBirb($event.value)"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label i18n="@@ZipCode" for="zipCodeFilter">Zip Code</label>
                <p-dropdown [options]="zipcodeOptions" id="zipCodeFilter" name="zipCodeFilter"  [ngModel]="zipCodeFilter" (onChange)="FilterZipcode($event.value)"></p-dropdown>
            </div>
        </div>
    </ng-template>
</p-panel>

<p-table id="print-section" #dt [value]="beneficiaires" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <div *ngIf ="!booShowSimpler" class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div *ngIf="summaryMessage" class="p-field p-col-12 p-md-12 p-text-bold">
                    {{summaryMessage}}
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf ="!booShowSimpler" i18n="@@InternalId">Internal ID</th>
            <th i18n="@@Name" >Name</th>
            <th *ngIf ="!booShowSimpler" i18n="@@Partner">Partner</th>
            <th i18n="@@Address" >Address</th>
            <th i18n="@@Tel" >Tel</th>
            <th *ngIf ="!booShowSimpler" >FEAD</th>
            <th *ngIf ="!booShowSimpler" i18n="@@NbDependents" [pTooltip]="getDependentsTooltip()">Nb Dependents</th>
        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-beneficiaire>
        <tr>
            <td *ngIf ="!booShowSimpler">
                {{beneficiaire.idInt}}
            </td>
            <td >
                {{ beneficiaire.nom }}  {{beneficiaire.prenom}}
            </td>
            <td *ngIf ="!booShowSimpler">
                {{beneficiaire.nomconj}} {{beneficiaire.prenomconj}}
            </td>
            <td>
                {{beneficiaire.adresse}} {{beneficiaire.cp}} {{beneficiaire.localite}}
            </td>
            <td>
                {{beneficiaire.gsm}} {{beneficiaire.tel}}
            </td>

            <td *ngIf ="!booShowSimpler">
                {{labelBirb(beneficiaire.birb)}}
            </td>

            <td *ngIf ="!booShowSimpler" [pTooltip]="getDependentsTooltip()">
                {{beneficiaire.nbFamily}}
            </td>
        </tr>
    </ng-template>
</p-table>
