<p-table #dt [value]="cpass" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
         [filterDelay]="0" >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddCpas" label="Add Cpas"></button>
            <span class="p-input-icon-left">
        </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@CpasNameSorted" pSortableColumn="cpasName">Name<p-sortIcon field="cpasName"></p-sortIcon></th>
            <th i18n="@@CpasZipSorted" pSortableColumn="cpasZip">Zip<p-sortIcon field="cpasZip"></p-sortIcon></th>
            <th i18n="@@CpasStreetSorted" pSortableColumn="cpasStreet">Street<p-sortIcon field="cpasStreet"></p-sortIcon></th>
            <th i18n="@@CpasTelSorted" pSortableColumn="cpasTel">Tel<p-sortIcon field="cpasTel"></p-sortIcon></th>
            <th i18n="@@CpasGsmSorted" pSortableColumn="cpasGsm">Gsm<p-sortIcon field="cpasGsm"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="cpasName" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="cpasZip" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-cpas>
        <tr (click)="handleSelect(cpas)">
            <td *ngFor="let col of cols">
                {{cpas[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Au total il y a {{totalRecords}} cpas dans la selection.
        </div>
    </ng-template>
</p-table>
<p-dialog header="Cpas Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false" [style]="{'width':'1800px'}">
    <app-cpas *ngIf=" selectedCpasid$" [cpasId$]=" selectedCpasid$" (onCpasUpdate)="handleCpasUpdate($event)" (onCpasCreate)="handleCpasCreate($event)"
              (onCpasDelete)="handleCpasDeleted($event)" (onCpasQuit)="handleCpasQuit()"></app-cpas>
</p-dialog>
