<p-table #dt [value]="cpass" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
         [filterDelay]="0" >
    <ng-template pTemplate="caption">
        <div class="table-header">
            {{title}}
            <span class="p-input-icon-left">
        </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                 <input #icpasname pInputText type="text" placeholder="Search by Name" class="p-column-filter"  (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(icpasname.value, 'cpasName', 'contains')"></p-button>
                </div>
            </th>
             <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #icpaszip pInputText type="text" placeholder="Search by Zip" class="p-column-filter" (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(icpaszip.value, 'cpasZip', 'startsWith')"></p-button>
                </div>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <th pSortableColumn="cpasName">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nom
                    <p-sortIcon field="cpasName"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cpasZip">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Code Postal
                    <p-sortIcon field="cpasZip"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cpasStreet">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Adresse
                    <p-sortIcon field="cpasStreet"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cpasTel">
                <div class="p-d-flex p-jc-between p-ai-center">
                   Tel
                    <p-sortIcon field="cpasTel"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cpasGsm">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Gsm
                    <p-sortIcon field="cpasGsm"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cpas>
        <tr (click)="handleSelect(cpas)">
            <td *ngFor="let col of cols">
                {{cpas[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Au total il y a {{totalRecords}} cpas dans la selection.
        </div>
    </ng-template>
</p-table>
<p-dialog header="Cpas Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false" [style]="{'width':'1800px'}">
    <app-cpas *ngIf="cpas" [cpas]="cpas" (onCpasUpdate)="handleCpasUpdate($event)" (onCpasDelete)="handleCpasDeleted($event)" (onCpasQuit)="handleCpasQuit()"></app-cpas>
</p-dialog>
