<ng-container *ngIf="banques">
    <p-table #dt [value]="banques" selectionMode="single" [rowHover]="true"
             [rows]="10" [showCurrentPageReport]="true"
             [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReport"  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [globalFilterFields]="['bankShortName','bankName','bankMail']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddBank" label="Add Bank"></button>
                <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
            </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="bankId">
                    <div i18n="@@BankIdSorted" class="p-d-flex p-jc-between p-ai-center">
                        Id
                        <p-sortIcon field="bankId"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="bankShortName">
                    <div i18n="@@BankShortNameSorted" class="p-d-flex p-jc-between p-ai-center">
                       Short Name
                        <p-sortIcon field="bankShortName"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="bankName">
                    <div i18n="@@BankNameSorted" class="p-d-flex p-jc-between p-ai-center">
                        Name
                        <p-sortIcon field="bankName"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="nrEntr">
                    <div i18n="@@BankEnterpriseNumberSorted" class="p-d-flex p-jc-between p-ai-center">
                       Enterprise Number
                        <p-sortIcon field="nrEntr"></p-sortIcon>
                    </div>
                </th>
                <th i18n="@@BankMailSorted" pSortableColumn="bankMail">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        E-mail
                        <p-sortIcon field="bankMail"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-banque>
            <tr (click)="handleSelect(banque)">
                <td *ngFor="let col of cols">
                    {{banque[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div i18n="@@BanksSelected" class="p-d-flex p-ai-center p-jc-between">
               There are {{banques ? banques.length : 0 }} food banks selected.
            </div>
        </ng-template>
    </p-table>
    <p-dialog i18n-header="@@BankDetails" header="Bank Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [closable]="false">
        <app-banque *ngIf="selectedBankid$" [bankId$]="selectedBankid$" (onBanqueUpdate)="handleBanqueUpdate()" (onBanqueCreate)="handleBanqueCreate($event)"
                    (onBanqueDelete)="handleBanqueDeleted()" (onBanqueQuit)="handleBanqueQuit()"></app-banque>
    </p-dialog>
</ng-container>


