<p-panel *ngIf="organisation">
    <ng-template  pTemplate="header">
        <div>
            {{ getTitle()}}
            <br><br> {{getSubTitle()}}
        </div>
    </ng-template>
    <form   #orgMembershipForm="ngForm">
         <div class="p-fluid p-formgrid p-grid">
             <div class="p-field p-col-12 p-md-2">
              <button type="button" pButton icon="pi pi-caret-left" (click)="getPreviousOrganisation()" i18n-label="@@prev" label="previous"></button>
             </div>
             <div class="p-field p-col-12 p-md-2">
                 <button type="button" pButton icon="pi pi-caret-right" (click)=" getNextOrganisation()" i18n-label="@@next" label="next"></button>
             </div>
             <div class="p-field p-col-12 p-md-2">
                 <button i18n-label="@@SendEmail"  type="button" pButton icon="pi pi-times" (click)="sendmail($event)" [disabled] = "orgMembershipForm.invalid" label="Send Email"></button>
             </div>
             <div class="p-field p-col-12 p-md-6">
                 <label i18n="@@OrgSummarySelect" for="orgsummaries">Select Organisation</label>
                 <p-dropdown  id ="orgsummaries" [options]="orgSummaries" optionValue="idDis" optionLabel="societe" (onChange)="selectOrganisation($event.value)">
                     <ng-template let-orgsummary pTemplate="item">
                         <div class="orgsummary-item">
                             <div> {{orgsummary.idDis}} {{orgsummary.societe}}</div>
                         </div>
                     </ng-template>
                 </p-dropdown>
             </div>
         </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <p-dropdown [(ngModel)]="cotYear" [options]="cotYears" id="cotYear" name="cotYear" (onChange)="setMailContent()" >
                    <ng-template let-option pTemplate="item">
                        <span>{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@MembershipDueDate" for="dueDate">Due Date</label>
                <input #dueDatem="ngModel" pInputText id="dueDate" name="dueDate" required (change)="setMailContent()"  pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$" placeholder="dd/mm/yyyy" [(ngModel)]="dueDate"/>
                <p-message i18n-text="@@DueDateIsMandatory"  *ngIf="dueDatem.invalid && orgMembershipForm.touched" severity="error" text="Due date is required and must in format dd/mm/yyyy"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <p-radioButton  i18n-label="@@OrgMailSendYearly" name="groupyearly" value="1" label="Yearly Membership?" [(ngModel)]="isYearlyMail" (click)="loadOrgSummaries(true)"></p-radioButton>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <p-radioButton  i18n-label="@@OrgMailSendExtra" name="groupyearly"   label="Extra Yearly Membership?" [(ngModel)]="isYearlyMail" (click)="loadOrgSummaries(false)"></p-radioButton>
            </div>
        </div>
        <div *ngIf="due > 0">
         <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
                From: {{ bankName}}<{{bankMail}}>
            </div>
             <div class="p-field p-col-12 p-md-12">
                Subject: {{ mailingSubject }}
             </div>
              <div class="p-field p-col-12 p-md-4">
                 <label i18n="@@ToMandatory" for="tocontact">To *</label>
                <input #tocontact="ngModel" pInputText id="tocontact" name="tocontact" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" [(ngModel)]="orgemail" />
                 <p-message i18n-text="@@EmailIsMandatory" *ngIf="tocontact.invalid && orgMembershipForm.touched" severity="error" text="E-mail is required and must be valid"></p-message>
             </div>
             <div class="p-field p-col-12 p-md-4">
               {{  getPresident() }}
             </div>
             <div class="p-field p-col-12 p-md-4">
                 <label i18n="@@OrgMemberSendToOrgEmail?" for="sendtoorg">Send Mail To Org EMail?</label>
                 <p-inputSwitch id="sendtoorg" name="sendtoorg" [(ngModel)]="sendMailToOrgContact"></p-inputSwitch>
             </div>
             <div class="p-field p-col-12 p-md-4">
                 <label i18n="@@Cc" for="cctreasurer">CC: Treasurer</label>
                 <input #cctreas="ngModel" pInputText id="cctreasurer" name="cctreasurer" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlength="50" [(ngModel)]="orgtreasurer" />
                 <p-message i18n-text="@@EmailNotValid" *ngIf="cctreas.invalid && orgMembershipForm.touched" severity="error" text="E-mail must be valid"></p-message>
             </div>
             <div class="p-field p-col-12 p-md-4">
                 {{ organisation.nomTres}} {{this.organisation.prenomTres}}
             </div>
             <div class="p-field p-col-12 p-md-4">
                 <label i18n="@@OrgMemberSendToOrgtreasurer?" for="sendtoorgtreasurer">Send Mail to Treasurer?</label>
                 <p-inputSwitch id="sendtoorgtreasurer" name="sendtoorgtreasurer" [(ngModel)]="sendMailToOrgTreasurer"></p-inputSwitch>
             </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
            <p-editor #idmailingtext="ngModel" [(ngModel)]="mailingText" required i18n-placeholder="@@EnterYourMessage" placeholder="Enter your message" name="mailingText" [style]="{'height':'320px'}">
                <p-header>
                             <span class="ql-formats">
                                <select class="ql-header" tabindex="-1">
                                    <option value="1" tabindex="-1">Heading</option>
                                    <option value="2" tabindex="-1">Subheading</option>
                                    <option selected tabindex="-1">Normal</option>
                                </select>
                             <select class="ql-font" tabindex="-1">
                                    <option selected tabindex="-1">Sans Serif</option>
                                    <option value="serif" tabindex="-1">Serif</option>
                                    <option value="monospace" tabindex="-1">Monospace</option>
                                </select>
                            </span>
                    <span class="ql-formats">
                                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                                <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                            </span>
                    <span class="ql-formats">
                                <select class="ql-color" tabindex="-1"></select>
                                <select class="ql-background" tabindex="-1"></select>
                            </span>
                    <span class="ql-formats">
                                <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
                                <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
                                <select class="ql-align" tabindex="-1">
                                    <option selected tabindex="-1"></option>
                                    <option value="center" tabindex="-1"></option>
                                    <option value="right" tabindex="-1"></option>
                                    <option value="justify" tabindex="-1"></option>
                                </select>
                            </span>
                    <span class="ql-formats">
                                <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                            </span>
                    <span class="ql-formats">
                                <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
                            </span>
                </p-header>
            </p-editor>
            <p-message i18n-text="@@MailingTextIsMandatory" *ngIf="idmailingtext.invalid && idmailingtext.touched" severity="error" text="Mail text is required"></p-message>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-8">
                Attachments: {{attachmentFileNames.toString() }}
            </div>
            <div class="p-field p-col-12 p-md-4">
                <p-fileUpload i18n-chooseLabel="@@SelectFile" name="myFile[]"  [auto]="true"  customUpload="true"  chooseLabel="Select File"
                              (onRemove)="removeMailAttachment($event)" (uploadHandler)="storeMailAttachment($event)">
                    <ng-template pTemplate="toolbar">
                        <div i18n="@@AttachFilesToMail">Attach Files to your mail</div>
                    </ng-template>
                </p-fileUpload>
            </div>
        </div>
        </div> <!-- end of if due > 0 tag -->
        <div *ngIf="due < 500">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12">
                  {{ getNoMembershipMessage() }}
                </div>
            </div>
        </div>
        <p-confirmPopup></p-confirmPopup>
    </form>

</p-panel>
