<p-table #dt [value]="dons" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="exportAsXLSX()" label="Export Dons" i18n-label="@@ExportDons"></button>
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Don" i18n-label="@@AddDon"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th  colspan="12" >{{getTotalStatistics()}}</th>
        </tr>
        <tr>
            <th i18n="@@DonDateSorted" pSortableColumn="date">Date<p-sortIcon field="date"></p-sortIcon></th>
            <th i18n="@@NameDonatorSorted" pSortableColumn="donateurNom" colspan="2">Name Donator<p-sortIcon field="donateurNom"></p-sortIcon></th>
            <th i18n="@@DonAmountSorted" pSortableColumn="amount">Amount<p-sortIcon field="amount"></p-sortIcon></th>
        </tr>
        <tr>
            <th>
                <p-columnFilter field="donYear" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="donYears" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="donateurNom" matchMode="contains" [showMenu]="false" colspan="2"></p-columnFilter>
            </th>
            <th></th>
        </tr>
        <tr>
            <th i18n="@@DonDate">Date</th>
            <th i18n="@@DonDonateur" colspan="2">Donator</th>
            <th i18n="@@DonAmount">Amount</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-don>
        <tr (click)="handleSelect(don)">
            <td>
                {{ don.date }}
            </td>
            <td colspan="2">
                {{don.donateurNom}}  {{don.donateurPrenom}}
            </td>
            <td>
                {{ don.amount }}
            </td>

        </tr>
    </ng-template>
</p-table>
<p-dialog header="Don Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
    <app-don *ngIf="selectedIdDon$" [idDon$]="selectedIdDon$"  (onDonUpdate)="handleDonUpdate($event)"
             (onDonCreate)="handleDonCreate($event)"  (onDonDelete)="handleDonDeleted($event)" (onDonQuit)="handleDonQuit()"></app-don>
</p-dialog>

