<p-table #dt [value]="dependents" selectionMode="single" [rowHover]="true"
          [loading]="loading"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Dependent"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@Gender">Gender</th>
            <th i18n="@@Name">Name</th>
            <th i18n="@@NameFirst">First Name</th>
            <th i18n="@@BirthDate">Birth Date</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-dependent>
        <tr (click)="handleSelect(dependent)">
            <td>
               {{ labelCivilite (dependent.civilite) }}
            </td>
            <td>
                {{dependent.nom}}
            </td>
            <td>
                {{dependent.prenom}}
            </td>
            <td>
                {{dependent.datenais}}
            </td>
         </tr>
    </ng-template>
</p-table>
<p-dialog i18n-header="@@DependentDetails" header="Dependent Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [closable]="false">
    <app-dependent *ngIf="selectedIdDep$" [idDep$]="selectedIdDep$" [masterId$]="masterId$" (onDependentUpdate)="handleDependentUpdate($event)"
                   (onDependentCreate)="handleDependentCreate($event)"  (onDependentDelete)="handleDependentDeleted($event)" (onDependentQuit)="handleDependentQuit()"></app-dependent>
</p-dialog>
