<p-panel  *ngIf="organisation">
    <ng-template  pTemplate="header">
        <div i18n="@@OrganisationHeader">
            Organisation {{ organisation.idDis}} {{ organisation.societe}} Updated on {{organisation.lupdTs}} By {{organisation.lupdUserName}}
        </div>
    </ng-template>
    <form  #orgForm="ngForm">
        <div class="p-formgroup-inline">
            <button  *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(organisation, orgForm.value)" [disabled] = "orgForm.invalid" i18n-label="@@Save" label="Save"></button>
            <button  type="button" pButton icon="pi pi-check" (click)="quit($event, organisation, orgForm, orgForm.dirty)" i18n-label="@@Return" label="Return" ></button>
        </div>
        <div class="p-fluid p-formgrid p-grid p-col-12">
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@OrgAgreed" pTooltip="{{generateTooltipAgreed()}}" for="agreed">Agreed</label>
                <p-inputSwitch id="agreed" name="agreed" [ngModel]="organisation.agreed"></p-inputSwitch>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@OrgFEADPersons" pTooltip="{{generateTooltipFEADPersons()}}" for="nrFead">Persons</label>
                <p-inputNumber [ngModel]="organisation.nrFead" id="nrFead" name="nrFead" mode="decimal" [showButtons]="true" inputId="nrFead" [min]="0" >
                </p-inputNumber>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label for="birbCode" pTooltip="{{generateTooltipFEADCode()}}">FEAD Code</label>
                <input pInputText id="birbCode" name="birbCode" maxlength="10" [ngModel]="organisation.birbCode" />
            </div>
            <div *ngIf="organisation.birbCode == '1' " class="p-field p-col-12 p-md-4">
            <label i18n="@@Antenne" for="selectedAntenne">Antenne</label>
            <p-autoComplete [(ngModel)]="selectedAntenne" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                            [forceSelection]="true" id="selectedAntenne" name="selectedAntenne" field="fullname" [dropdown]="true">
            </p-autoComplete>
            </div>
            <div *ngIf="organisation.birbCode > '1' " class="p-field p-col-12 p-md-2">
                <label i18n="@@OrgFEADFromUs" pTooltip="{{generateTooltipFEADFromUs()}}" for="feadN">FEAD from Us?</label>
                <p-inputSwitch id="feadN" name="feadN" [ngModel]="organisation.feadN"></p-inputSwitch>
            </div>

        </div>
        <p-confirmPopup></p-confirmPopup>
    </form>
</p-panel>
