<div class="spinner-container" *ngIf="!(isDoneLoading | async)">
   <p-progressSpinner ></p-progressSpinner>
</div>
<div *ngIf="isLoggedIn$ | async">
    <p-button [label]="loggedInUserName" icon="pi pi-user" (click)="op.toggle($event)"></p-button>
    <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '450px'}">
        <ng-template pTemplate>
           <div class="p-d-flex p-flex-column">
               <div  class="p-mb-2">
                 {{loggedInBankName }}
                </div>
                <div  class="p-mb-2">
                 {{ loggedInOrganisationName }}
                </div>
                <div  class="p-mb-2">
                  {{ loggedInUserRole }}
                </div>
           </div>
        </ng-template>
    </p-overlayPanel>
</div>
<div class="card">
   <p-menubar [model]="menuLoggedInItems" ></p-menubar>
</div>
 <router-outlet></router-outlet>
<p-messages></p-messages>
<p-toast></p-toast>

