<div class="spinner-container" *ngIf="loading">
   <p-progressSpinner ></p-progressSpinner>
</div>
<div  *ngIf="isLoggedIn$ | async">
    <p-button [label]="loggedInUserName" icon="pi pi-user" (click)="op.show($event)"></p-button>
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
        <ng-template pTemplate>
           <div class="p-d-flex p-flex-column">
               <div  class="p-mb-2">
                 {{loggedInBankName }}
                </div>
                <div  class="p-mb-2">
                 {{ loggedInOrganisationName }}
                </div>
                <div  class="p-mb-2">
                  {{ loggedInUserRole }}
                </div>
           </div>
        </ng-template>
    </p-overlayPanel>
   <p-menubar [model]="menuLoggedInItems">
   </p-menubar>
</div>
    <router-outlet></router-outlet>
<p-messages></p-messages>

