<ng-container *ngIf="organisations$ | async as organisations">
    <p-table #dt [value]="organisations" selectionMode="single" [rowHover]="true"
             [rows]="10" [showCurrentPageReport]="true"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0" [globalFilterFields]="['societe','adresse','cp','localite']">
    <ng-template pTemplate="caption">
        <div class="table-header">
            {{title}}
            <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
        </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="idDis">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Identifiant
                    <p-sortIcon field="idDis"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="lienBanque">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Banque
                    <p-sortIcon field="lienBanque"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="societe">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nom
                    <p-sortIcon field="societe"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="adresse">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Adresse
                    <p-sortIcon field="adresse"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cp">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Code Postal
                    <p-sortIcon field="cp"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="localite">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Ville
                    <p-sortIcon field="localite"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organisation>
        <tr (click)="handleSelect(organisation)">
            <td *ngFor="let col of cols">
                {{organisation[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
            Au total il y a {{organisations ? organisations.length : 0 }} organisations.
        </div>
    </ng-template>
</p-table>
</ng-container>

<p-dialog header="Organisation Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true" [closable]="true" [style]="{'width':'300px'}">
    <div class="ui-g ui-fluid" *ngIf="organisation">
        <div class="ui-g-4"><label for="idDis">Identifiant</label></div>
        <div class="ui-g-8"><input pInputText id="idDis" [(ngModel)]="organisation.idDis" /></div>
        <div class="ui-g-4"><label for="lienBanque">Banque</label></div>
        <div class="ui-g-8"><input pInputText id="lienBanque" [(ngModel)]="organisation.lienBanque" /></div>
        <div class="ui-g-4"><label for="societe">Nom</label></div>
        <div class="ui-g-8"><input pInputText id="societe" [(ngModel)]="organisation.societe" /></div>
        <div class="ui-g-4"><label for="adresse">adresse</label></div>
        <div class="ui-g-8"><input pInputText id="adresse" [(ngModel)]="organisation.adresse" /></div>
        <div class="ui-g-4"><label for="cp">Code Postal</label></div>
        <div class="ui-g-8"><input pInputText id="cp" [(ngModel)]="organisation.cp" /></div>
        <div class="ui-g-4"><label for="localite">Commune</label></div>
        <div class="ui-g-8"><input pInputText id="localite" [(ngModel)]="organisation.localite" /></div>
    </div>
    <p-footer class="ui-g-12">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
