<p-table  [value]="organisations$ | async" selectionMode="single"  [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organisation>
        <tr (click)="handleSelect(organisation)">
            <td *ngFor="let col of cols">
                {{organisation[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Organisation Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true" [closable]="true" [style]="{'width':'300px'}">
    <div class="ui-g ui-fluid" *ngIf="organisation">
        <div class="ui-g-4"><label for="idDis">Identifiant</label></div>
        <div class="ui-g-8"><input pInputText id="idDis" [(ngModel)]="organisation.idDis" /></div>
        <div class="ui-g-4"><label for="lienBanque">Banque</label></div>
        <div class="ui-g-8"><input pInputText id="lienBanque" [(ngModel)]="organisation.lienBanque" /></div>
        <div class="ui-g-4"><label for="societe">Nom</label></div>
        <div class="ui-g-8"><input pInputText id="societe" [(ngModel)]="organisation.societe" /></div>
        <div class="ui-g-4"><label for="adresse">adresse</label></div>
        <div class="ui-g-8"><input pInputText id="adresse" [(ngModel)]="organisation.adresse" /></div>
        <div class="ui-g-4"><label for="cp">Code Postal</label></div>
        <div class="ui-g-8"><input pInputText id="cp" [(ngModel)]="organisation.cp" /></div>
        <div class="ui-g-4"><label for="localite">Commune</label></div>
        <div class="ui-g-8"><input pInputText id="localite" [(ngModel)]="organisation.localite" /></div>
    </div>
    <p-footer class="ui-g-12">
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
