<p-table #dt [value]="organisations" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [globalFilterFields]="['societe','adresse', 'cp', 'localite']"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-12">
                    {{ getTitle() }}
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label i18n="@@OrgRegion" for="regions">Region</label>
                    <p-dropdown id ="regions" [options]="regions" (onChange)="filterRegion($event.value)"  >
                        <ng-template let-option pTemplate="item">
                            <span>{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="!depotName" class="p-field p-col-12 p-md-4">
                    <label i18n="@@OrgDepot" for="depots">Depot</label>
                    <p-dropdown id ="depots" [options]="depots" (onChange)="filterDepot($event.value)"  >
                        <ng-template let-option pTemplate="item">
                            <span>{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label  i18n="@@OrganisationStatus" for="statut">Status Company</label>
                    <p-dropdown [options]="statuts" id="statut" name="statut" (onChange)="filterStatut($event.value)" >
                        <ng-template let-option pTemplate="item">
                            <span>{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label i18n="@@OrgFBBACategory" for="categories">FBBA Category</label>
                    <p-dropdown id= "categories" [options]="orgCategories" (onChange)="filterClasseFBBA($event.value)"  >
                        <ng-template let-option pTemplate="item">
                            <span>{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <label i18n="@@ShowArchived" for="archived">Show Archived?</label>
                    <p-checkbox [value]="booShowArchived" binary="true" name="archived" id="archived" (onChange)="changeArchiveFilter($event)"></p-checkbox>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-2">
                    <button  i18n="@@OrganisationExport" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="exportAsXLSX()" label="Export Organisations" i18n-label="@@ExportOrganisations"></button>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Organisation" i18n-label="@@AddOrganisation" ></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="bankOptions" i18n="@@BankNameShortSorted" pSortableColumn="bankShortName">Bank<p-sortIcon field="bankShortName"></p-sortIcon></th>
            <th pSortableColumn="idDis">Id<p-sortIcon field="idDis"></p-sortIcon></th>
            <th colspan="2" i18n="@@NameSorted" pSortableColumn="societe">Name<p-sortIcon field="societe"></p-sortIcon></th>
            <th i18n="@@RefintSorted" pSortableColumn="refInt">Reference<p-sortIcon field="refInt"></p-sortIcon></th>
            <th colspan="2" i18n="@@AddressSorted" pSortableColumn="adresse">Address<p-sortIcon field="adresse"></p-sortIcon></th>
            <th colspan="2" i18n="@@NomDepotSorted" pSortableColumn="nomDepot">Depot<p-sortIcon field="nomDepot"></p-sortIcon></th>
            <th i18n="@@OrgAgreedSorted" pSortableColumn="agreed" pTooltip="{{generateTooltipAgreed()}}">Agreed<p-sortIcon field="agreed"></p-sortIcon></th>
            <th pSortableColumn="birbyN" i18n="@@OrgUsesFEADSorted"  pTooltip="{{generateTooltipUsesFEAD()}}">Uses FEAD ?<p-sortIcon field="birbyN"></p-sortIcon></th>
            <th  i18n="@@NbLoginsSorted"  pTooltip="{{generateLoginTooltip()}}" pSortableColumn="nbLogins" >Logins<p-sortIcon field="nbLogins"></p-sortIcon></th>
        </tr>
        <tr>
            <th *ngIf="bankOptions">
                <p-columnFilter field="bankShortName" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="bankOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" matchMode="equals" [showMenu]="false" field="idDis" ></p-columnFilter>
            </th>
            <th colspan="2">
                <p-columnFilter type="text" matchMode="contains" [showMenu]="false" field="societe" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" matchMode="contains" [showMenu]="false" field="refInt" ></p-columnFilter>
            </th>
            <th colspan="2">
                <p-columnFilter type="text" matchMode="contains" [showMenu]="false" field="adresse" ></p-columnFilter>
            </th>
            <th colspan="2">
                <p-columnFilter type="text" matchMode="contains" [showMenu]="false" field="nomDepot" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="agreed" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="birbyN" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                            <ng-template let-option pTemplate="item">
                                <span>{{option.label}}</span>
                            </ng-template>
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
            <th>
                <p-columnFilter field="hasLogins" matchMode="equals" [showMenu]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                        </p-dropdown>
                    </ng-template>
                </p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-organisation>
        <tr (click)="handleSelect(organisation)">
            <td *ngIf="bankOptions">
                {{organisation.bankShortName}}
            </td>
            <td>
                {{ organisation.idDis }}
            </td>
            <td colspan="2">
                {{ organisation.societe }}
            </td>
            <td>
                {{ organisation.refInt }}
            </td>
            <td colspan="2">
                {{ organisation.adresse }}  {{ organisation.cp }}  {{ organisation.localite }}
            </td>
            <td colspan="2">
                {{ organisation.nomDepot }}
            </td>

            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': organisation.agreed, 'false-icon pi-times-circle': !organisation.agreed}"></i>
            </td>
            <td>
                <i class="pi" [ngClass]="{'true-icon pi-check-circle': organisation.birbyN, 'false-icon pi-times-circle': !organisation.birbyN}"></i>
            </td>
            <td>
                {{ organisation.nbLogins }}
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@OrganisationsSelected" class="p-d-flex p-ai-center p-jc-between">
            There are {{totalRecords}} organisations in the selection.
        </div>
    </ng-template>
</p-table>
<p-dialog position="top" i18n-header="@@OrganisationDetails" header="Organisation Details" [(visible)]="displayDialog" [responsive]="true"  [modal]="true" [closable]="false" [contentStyle]="{'overflow': 'visible'}">
    <app-organisation *ngIf="selectedIdDis$" [idDis$]="selectedIdDis$" (onOrganisationUpdate)="handleOrganisationUpdate($event)" (onOrganisationCreate)="handleOrganisationCreate($event)"
                      (onOrganisationDelete)="handleOrganisationDeleted($event)" (onOrganisationQuit)="handleOrganisationQuit()"></app-organisation>
</p-dialog>
