<p-table #dt *ngIf="membreFunctions" [value]="membreFunctions" selectionMode="single" [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Function" i18n-label="@@MemberFunctionAdd"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@NameSorted" pSortableColumn="fonctionName">Name<p-sortIcon field="fonctionName"></p-sortIcon></th>
            <th i18n="@@Definition">Definition</th>
            <th i18n="@@Remarks">Remarks</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-membreFunction>
        <tr (click)="handleSelect(membreFunction)">
            <td *ngIf="userLanguage =='fr'">{{membreFunction.fonctionName}}</td>
            <td *ngIf="userLanguage !='fr'">{{membreFunction.fonctionNameNl}}</td>
            <td>{{membreFunction.definitionFonction}}</td>
            <td>{{membreFunction.rem}}</td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Member Function Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
    <app-membreFunction *ngIf="selectedMembreFunctionId$" [funcId$]="selectedMembreFunctionId$"  (onMembreFunctionUpdate)="handleMembreFunctionUpdate($event)"
                        (onMembreFunctionCreate)="handleMembreFunctionCreate($event)"  (onMembreFunctionDelete)="handleMembreFunctionDeleted($event)" (onMembreFunctionQuit)="handleMembreFunctionQuit()"></app-membreFunction>
</p-dialog>
