<p-table #dt [value]="donateurs" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
             [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
             [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-download" (click)="exportAsXLSX()" label="Export Donateurs" i18n-label="@@ExportDonateurs"></button>
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Donateur" i18n-label="@@AddDonateur"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th i18n="@@NameSorted" pSortableColumn="nom" >Name<p-sortIcon field="nom"></p-sortIcon></th>
            <th i18n="@@NameFirstSorted" pSortableColumn="prenom" >First Name<p-sortIcon field="prenom"></p-sortIcon></th>
            <th i18n="@@AddressSorted"  pSortableColumn="adresse" >Address<p-sortIcon field="adresse"></p-sortIcon></th>
            <th i18n="@@ZipCodeSorted" pSortableColumn="cp">Zip Code<p-sortIcon field="cp"></p-sortIcon></th>
            <th i18n="@@CitySorted" pSortableColumn="city">City<p-sortIcon field="city"></p-sortIcon></th>
            <th i18n="@@EMailSorted" pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
            <th i18n="@@TotalDonsSorted" pSortableColumn="totalDons">Total Gifts<p-sortIcon field="totalDons"></p-sortIcon></th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="text" field="nom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="prenom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="adresse" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="cp" matchMode="equals" [showMenu]="false"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="city" matchMode="contains" [showMenu]="false"></p-columnFilter>
            </th>
            <th>

            </th>
            <th></th>
        </tr>

    </ng-template>
    <ng-template pTemplate="body" let-donateur>
        <tr (click)="handleSelect(donateur)">
            <td>
               {{ donateur.titre }}
            </td>
            <td>
                {{donateur.nom}}
            </td>
            <td>
                {{donateur.prenom}}
            </td>
            <td>
                {{donateur.adresse}}
            </td>
            <td>
                {{donateur.cp}}
            </td>
            <td>
                {{donateur.city}}
            </td>
            <td>
                {{donateur.email}}
            </td>
            <td>
                {{donateur.totalDons}}
            </td>

        </tr>
    </ng-template>
</p-table>
<p-dialog header="Donateur Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
    <app-donateur *ngIf="selectedDonateurId$" [donateurId$]="selectedDonateurId$"  (onDonateurUpdate)="handleDonateurUpdate($event)"
                  (onDonateurCreate)="handleDonateurCreate($event)"  (onDonateurDelete)="handleDonateurDeleted($event)" (onDonateurQuit)="handleDonateurQuit()"></app-donateur>
</p-dialog>
