<p-table #dt [value]="donateurs" selectionMode="single" [rowHover]="true" [lazy]="true" (onLazyLoad)="nextPage($event)"
             [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
             [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="exportAsXLSX()" label="Export Donateurs" i18n-label="@@ExportDonateurs"></button>
            <button *ngIf="booIsAdmin" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Donateur" i18n-label="@@AddDonateur"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th i18n="@@NameSorted" pSortableColumn="nom" colspan="2">Name<p-sortIcon field="nom"></p-sortIcon></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <p-columnFilter type="text" field="nom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
            <th></th>
        </tr>
        <tr>
            <th i18n="@@DonateurTitle">Titre</th>
            <th i18n="@@DonateurName">Name</th>
            <th i18n="@@DonateurNameFirst">First Name</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-donateur>
        <tr (click)="handleSelect(donateur)">
            <td>
               {{ donateur.titre }}
            </td>
            <td>
                {{donateur.nom}}
            </td>
            <td>
                {{donateur.prenom}}
            </td>

        </tr>
    </ng-template>
</p-table>
<p-dialog header="Donateur Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'visible'}" [modal]="true" [closable]="false">
    <app-donateur *ngIf="selectedDonateurId$" [donateurId$]="selectedDonateurId$"  (onDonateurUpdate)="handleDonateurUpdate($event)"
                  (onDonateurCreate)="handleDonateurCreate($event)"  (onDonateurDelete)="handleDonateurDeleted($event)" (onDonateurQuit)="handleDonateurQuit()"></app-donateur>
</p-dialog>
