<p-panel *ngIf="mailadresses">
    <p-dialog   [(visible)]="displayDialog"  [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
        <app-mailaddress  (onMailAddressCreate)="handleMailAddressCreate($event)"  (onMailAddressQuit)="handleMailAddressQuit()"></app-mailaddress>
    </p-dialog>
    <p-accordion>
        <p-accordionTab i18n-header="@@Mailing List" header="Mailing List" [selected]="true">
            <p-table [value]="mailadresses" [(selection)]="selectedMailadresses" dataKey="email" [loading]="loading"
                     [paginator]="true" [rows]="10"
                     [(first)]="first" (onHeaderCheckboxToggle)="loadTextAreaWidget()" (onRowSelect)="loadTextAreaWidget()" (onRowUnselect)="loadTextAreaWidget()">
                <ng-template pTemplate="caption">
                    <div class="table-header">
                        <div class="p-fluid p-formgrid p-grid">
                            <div i18n="@@EmailFrom" class="p-field p-col-12 p-md-12">
                                From  {{senderFullEmail}}
                            </div>
                            <div class="p-field p-col-12 p-md-8">
                                Origin: {{bankName}} {{orgName}}
                            </div>
                            <div  class="p-field p-col-12 p-md-2">
                                <button type="button" pButton icon="pi pi-user-plus" (click)="showDialogToAdd()" i18n-label="@@AddAddressee" label="Add Addressee"></button>
                            </div>
                            <div  class="p-field p-col-12 p-md-2">
                                <button type="button" pButton icon="pi pi-user-minus" (click)="saveSelection()" i18n-label="@@Save Selection" label="Save Selection"></button>
                            </div>
                        </div>
                        <div class="p-fluid p-formgrid p-grid">
                            <div class="p-field p-col-12 p-md-2">
                                <label i18n="@@MailGroup" for="mailgroup">Mail Group</label>
                                <p-dropdown id ="mailgroup" [options]="mailgroups" (onChange)="filterMailGroup($event.value)"  >
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </div>
                            <!--Mailgroups less than 4 allow filtering on organisations for bank and fbba users-->

                            <div *ngIf="(mailgroupSelected < 4) && (!orgName)" class="p-field p-col-12 p-md-4">
                                <label for="filteredOrganisation">Organisation:</label>
                                <p-autoComplete [ngModel]="selectedFilter" [suggestions]="filterOptions"
                                                (completeMethod)="addOrganisationsToFilterOptions($event)"
                                                (onSelect)="filterAddresses($event.idDis);"
                                                [forceSelection]="true" id="filteredOrganisation"
                                                delay="1000"
                                                name="filteredOrganisation" field="fullname" [dropdown]="true">

                                </p-autoComplete>
                            </div>
                            <div *ngIf="(mailgroupSelected < 4)  && (!orgName)" class="p-field p-col-12 p-md-2">
                                <label i18n="@@OrgRegion" for="regions">Region</label>
                                <p-dropdown id ="regions" [options]="regions" (onChange)="filterRegion($event.value)"  >
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </div>

                            <div *ngIf="(mailgroupSelected < 4) && (!orgName)" class="p-field p-col-12 p-md-1">
                                <label i18n="@@FilterAgreed" for="booOnlyAgreed">Only Agreed Orgs?</label>
                                <p-checkbox [value]="booOnlyAgreed" binary="true" name="booOnlyAgreed" id="booOnlyAgreed" (onChange)="filterAgreed($event)"></p-checkbox>
                            </div>
                            <div *ngIf="(mailgroupSelected < 4) && (!orgName)" class="p-field p-col-12 p-md-1">
                                <label i18n="@@FilterFead" for="booOnlyFead">Only Fead by Us Orgs?</label>
                                <p-checkbox [value]="booOnlyFead" binary="true" name="booOnlyFead" id="booOnlyFead" (onChange)="filterFead($event)"></p-checkbox>
                            </div>
                            <div *ngIf="(mailgroupSelected != 0) && (!orgName)" class="p-field p-col-12 p-md-2">
                                <label i18n="@@UserLanguage" for="languages">User Language</label>
                                <p-dropdown id ="languages" [options]="languages" (onChange)="filterLanguage($event.value)"  >
                                    <ng-template let-option pTemplate="item">
                                        <span>{{option.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </div>


                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th i18n="@@Organisation">Organisation</th>
                        <th i18n="@@Name">Name</th>
                        <th>Email</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-mailAddress>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="mailAddress"></p-tableCheckbox>
                        </td>
                        <td>{{mailAddress.societe}}</td>
                        <td>{{mailAddress.nom}} {{mailAddress.prenom}}</td>
                        <td>{{mailAddress.email}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div i18n="@@EmailsSelected" class="p-d-flex p-ai-center p-jc-between">
                        There are {{selectedMailadresses ? selectedMailadresses.length : 0 }} emails   selected from {{mailadresses ? mailadresses.length : 0 }}.
                    </div>
                </ng-template>
            </p-table>

        </p-accordionTab>
        <p-accordionTab i18n-header="@@Mail Content" header="Mail Content">
            <form  #sendForm="ngForm">
                <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-6">
                    <label i18n="@@MailSubject" for="idSubject">Subject</label>
                    <input #idsubject="ngModel" pInputText id="idSubject" name="idSubject" required  minlength="6"  [(ngModel)]="mailingSubject" />
                    <p-message i18n-text="@@MailSubjectIsMandatory" *ngIf="idsubject.invalid && idsubject.touched" severity="error" text="Mail subject is required and must be minimum 6 chars long"></p-message>
                </div>
                <div class="p-field p-col-12 p-md-2">
                    <button i18n-label="@@SendEmail"  type="button" pButton icon="pi pi-times" (click)="sendmail($event)"
                            [disabled] = "sendForm.invalid || isAttachmentUploadOngoing" label="Send Email"></button>
                </div>
                    <div pTooltip="{{generateTooltipBccMode()}}" class="p-field p-col-12 p-md-2">
                        <label i18n="@@MailBccMode" for="bccMode">Send Mail in Blind Copy Mode ?</label>
                        <p-inputSwitch id="bccMode" name="bccMode" [(ngModel)]="bccMode"></p-inputSwitch>
                    </div>
                <div class="p-field p-col-12 p-md-12">
                    <p-editor #idmailingtext="ngModel" [(ngModel)]="mailingText" required i18n-placeholder="@@EnterYourMessage" placeholder="Enter your message" name="mailingText" [style]="{'height':'320px'}">
                        <p-header>
                             <span class="ql-formats">
                                <select class="ql-header" tabindex="-1">
                                    <option value="1" tabindex="-1">Heading</option>
                                    <option value="2" tabindex="-1">Subheading</option>
                                    <option selected tabindex="-1">Normal</option>
                                </select>
                             <select class="ql-font" tabindex="-1">
                                    <option selected tabindex="-1">Sans Serif</option>
                                    <option value="serif" tabindex="-1">Serif</option>
                                    <option value="monospace" tabindex="-1">Monospace</option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                                <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color" tabindex="-1"></select>
                                <select class="ql-background" tabindex="-1"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
                                <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
                                <select class="ql-align" tabindex="-1">
                                    <option selected tabindex="-1"></option>
                                    <option value="center" tabindex="-1"></option>
                                    <option value="right" tabindex="-1"></option>
                                    <option value="justify" tabindex="-1"></option>
                                </select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
                            </span>
                        </p-header>
                    </p-editor>
                    <p-message i18n-text="@@MailingTextIsMandatory" *ngIf="idmailingtext.invalid && idmailingtext.touched" severity="error" text="Mail text is required"></p-message>
                </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-12 p-md-8">
                        Attachments: {{attachmentFileNames.toString() }}
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <p-fileUpload #fileUpload i18n-chooseLabel="@@SelectFile" name="myFile[]"  [auto]="true"  customUpload="true"  chooseLabel="Select File"
                                      multiple="multiple"   (onRemove)="removeMailAttachment($event)" (uploadHandler)="storeMailAttachment($event,fileUpload)">
                            <ng-template pTemplate="toolbar">
                                <div i18n="@@AttachFilesToMail">Attach Files to your mail</div>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                </div>
                <p-progressSpinner *ngIf="isAttachmentUploadOngoing"></p-progressSpinner>

            </form>
        </p-accordionTab>
    </p-accordion>
    <p-toast></p-toast>
    <p-confirmPopup></p-confirmPopup>
</p-panel>





