<p-panel  *ngIf="trip">
    <form  #tripForm="ngForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@TripDateMandatory"  for="tripDate">Trip Date *</label>
                <input #tripDate="ngModel" pInputText id="tripDate" name="tripDate" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$" placeholder="dd/mm/yyyy" [ngModel]="trip.tripDate"/>
                <p-message  i18n-text="@@TripDateIsMandatory" *ngIf="tripDate.invalid && tripForm.touched" severity="error" text="Trip date is required and must in format dd/mm/yyyy"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label i18n="@@TripStartMandatory" for="tripDepart">Trip Start *</label>
                <input #tripDepart="ngModel" pInputText id="tripDepart" name="tripDepart" required pattern="^(?:1[0-9]|2[0-3]|0?[0-9]):[0-5]\d{1}?$" placeholder="hh:mm" [ngModel]="trip.tripDepart" />
                <p-message i18n-text="@@TripStartIsMandatory"  *ngIf="tripDepart.invalid && tripForm.touched" severity="error" text="Trip Start is required and must be in format hh:mm"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label i18n="@@TripArrivalMandatory" for="tripArrivee">Trip Arrival *</label>
                <input #tripArrivee="ngModel" pInputText id="tripArrivee" name="tripArrivee" required pattern="^(?:1[0-9]|2[0-3]|0?[0-9]):[0-5]\d{1}?$" placeholder="hh:mm" [ngModel]="trip.tripArrivee" />
                <p-message i18n-text="@@TripArrivalIsMandatory"  *ngIf="tripArrivee.invalid && tripForm.touched" severity="error" text="Trip Arrival is required  and must be in format hh:mm"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label i18n="@@TripKmMandatory" for="tripKm">Trip Km *</label>
                <p-inputNumber #tripKm="ngModel" id="tripKm" name="tripKm" required [ngModel]="trip.tripKm" ></p-inputNumber>
                <p-message i18n-text="@@TripKmIsMandatory"  *ngIf="tripKm.invalid && tripForm.touched" severity="error" text="Trip Km is required"></p-message>
            </div>


        </div>
        <p-confirmPopup></p-confirmPopup>
        <div class="p-formgroup-inline">
            <button type="button" pButton icon="pi pi-times" (click)="delete($event,trip)" i18n-label="@@Delete" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save(trip, tripForm.value)" [disabled] = "tripForm.invalid" i18n-label="@@Save" label="Save"></button>
            <button type="button" pButton icon="pi pi-check" (click)="quit($event, trip, tripForm, tripForm.dirty)" i18n-label="@@Return" label="Return" ></button>
        </div>
    </form>
</p-panel>
