<p-panel *ngIf="membre">
    <ng-template pTemplate="header">
        Membre {{ membre.batId}} of bank {{ membre.bankName}}
    </ng-template>
    <form   #membreForm="ngForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <label for="civilite">Gender</label>
                <p-dropdown [options]="genders" id="civilite" name="civilite" [ngModel]="membre.civilite" optionLabel="name" optionValue="code"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="nom">Name *</label>
                <input #nom="ngModel"  pInputText id="nom" name="nom"  required minlength="4" maxlength="50" [ngModel]="membre.nom" />
                <p-message *ngIf="nom.invalid && (nom.dirty || nom.touched)" severity="error" text="Member Name is required and must be minimum 4 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="prenom">First Name *</label>
                <input  #prenom="ngModel" pInputText id="prenom" name="prenom" required minlength="4" maxlength="40" [ngModel]="membre.prenom" />
                <p-message *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" severity="error" text="Member First Name is required and must be minimum 4 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label for="langue">Language</label>
                <p-dropdown [options]="languages" id="langue" name="langue" [ngModel]="membre.langue" optionLabel="name" optionValue="code"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="address">Adresse</label>
                <input pInputText id="address" name="address" maxlength="50" [ngModel]="membre.address" />
            </div>

            <div class="p-field p-col-12 p-md-2">
                <label for="zip">Code Postal</label>
                <input pInputText id="zip" name="zip" maxlength="10" [ngModel]="membre.zip" />
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="city">Commune</label>
                <input pInputText id="city" name="city" maxlength="20" [ngModel]="membre.city" />
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="email">E-mail</label>
                <input pInputText id="email" name="email" maxlength="50" [ngModel]="membre.batmail" />
            </div>
            <div class="p-field p-col-12 p-md-4">
                <label for="veh">Car</label>
                <input pInputText id="veh" name="veh" maxlength="30" [ngModel]="membre.veh" />
            </div>

            <div class="p-field p-col-12 p-md-2">
                <label for="vehtype">Type</label>
                <input pInputText id="vehtype" name="vehtype" maxlength="30" [ngModel]="membre.vehTyp" />
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="vehimm">Number Plate</label>
                <input pInputText id="vehimm" name="vehimm" maxlength="30" [ngModel]="membre.vehImm" />
            </div>
        </div>
        <p-confirmPopup></p-confirmPopup>
        <div *ngIf="booCanSave" class="p-formgroup-inline">
            <button *ngIf="booCanDelete" type="button" pButton icon="pi pi-times" (click)="delete($event,membre)" label="Delete"></button>
            <button *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(membre, membreForm.value)" label="Save" [disabled] = "membreForm.invalid"></button>
            <button *ngIf="booCanQuit" type="button" pButton icon="pi pi-check" (click)="quit($event, membre, membreForm,membreForm.dirty)" label="Return" ></button>
        </div>
    </form>


</p-panel>

