<p-table #dt [value]="dashboardItems" [rowHover]="true" [paginator]="true" [rows]="10" [responsive]="true">
    <p-header>
        <div class="ui-helper-clearfix" style="line-height:1.87em">DashBoard</div>
    </p-header>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@BankSorted" pSortableColumn="bankShortName" >Bank<p-sortIcon field="bankShortName"></p-sortIcon></th>
            <th i18n="@@Type" pSortableColumn="type" >Type<p-sortIcon field="type"></p-sortIcon></th>
            <th i18n="@@Subtype" pSortableColumn="subtype" >Category<p-sortIcon field="subtype  "></p-sortIcon></th>
            <th i18n="@@Key" pSortableColumn="key" >Entity<p-sortIcon field="key"></p-sortIcon></th>
            <th i18n="@@Value" pSortableColumn="value" >Value<p-sortIcon field="value"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr>
            <td>{{item.bankShortName}}</td>
            <td>{{item.type}}</td>
            <td>{{item.subtype}}</td>
            <td>{{item.key}}</td>
            <td>{{item.value}}</td>
        </tr>
    </ng-template>
</p-table>

