<p-panel>
    <ng-template pTemplate="header">
        <h1>Dashboard</h1>
    </ng-template>
    <ng-template pTemplate="body">
        <p-accordion>
            <p-accordionTab i18n-header="@@DistributionActivity" header="Recent Distribution Activity"  [selected]="true">

                    <div *ngFor="let item of dashboardBankItems" class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-3">
                            {{item.key}}
                        </div>
                        <div class="p-field p-col-12 p-md-6">
                            {{labelCategory(item.category)}}
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            {{formatQuantity(item.quantity)}}
                        </div>

                    </div>
                    <div *ngFor="let item of dashboardOrgItems" class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-col-12 p-md-3">
                            {{item.day}}
                        </div>
                        <div class="p-field p-col-12 p-md-6">
                            {{item.orgname}}
                        </div>
                        <div class="p-field p-col-12 p-md-3">
                            {{formatQuantity(item.quantity)}}
                        </div>

                    </div>


                </p-accordionTab>
            <p-accordionTab header="Beneficiaries">
                Content 2
            </p-accordionTab>
            <p-accordionTab header="Organisations">
                Content 3
            </p-accordionTab>
        </p-accordion>
    </ng-template>
</p-panel>

