<p-table #dt [value]="orgcontacts" selectionMode="single" [rowHover]="true"
         [loading]="loading"
>
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Contact" i18n-label="@@AddOrgcontact"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th i18n="@@Gender">Gender</th>
            <th i18n="@@Name">Name</th>
            <th i18n="@@NameFirst">First Name</th>
            <th i18n="@@Email">E-mail</th>
            <th i18n="@@Function">Function</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-orgcontact>
        <tr (click)="handleSelect(orgcontact)">
            <td>
                {{ labelCivilite (orgcontact.civilite) }}
            </td>
            <td>
                {{orgcontact.nom}}
            </td>
            <td>
                {{orgcontact.prenom}}
            </td>
            <td>
                {{orgcontact.email}}
            </td>
            <td>
                {{orgcontact.fonction}}
            </td>
        </tr>
    </ng-template>
</p-table>
<p-dialog header="Organisation Contact Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
    <app-orgcontact *ngIf="selectedOrgPersId$" [orgPersId$]="selectedOrgPersId$" [lienAsso$]="lienAsso$" (onOrgcontactUpdate)="handleOrgcontactUpdate($event)"
                    (onOrgcontactCreate)="handleOrgcontactCreate($event)"  (onOrgcontactDelete)="handleOrgcontactDeleted($event)" (onOrgcontactQuit)="handleOrgcontactQuit()"></app-orgcontact>
</p-dialog>
