 <p-table #dt [value]="beneficiaires" selectionMode="single" [rowHover]="true"  [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading"
         [paginator]="true" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
         [filterDelay]="0" >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <button *ngIf="booCanCreate" class="p-ai-md-end" type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Add Beneficiary"></button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #inom pInputText type="text" placeholder="Search by nom" class="p-column-filter" (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter( inom.value, 'nom', 'contains')"></p-button>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #iprenom pInputText type="text" placeholder="Search by prenom" class="p-column-filter" (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(iprenom.value, 'prenom', 'contains')"></p-button>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #iaddress pInputText type="text" placeholder="Search by address" class="p-column-filter" (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(iaddress.value, 'adresse', 'contains')"></p-button>
                </div>
            </th>
            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #icp pInputText type="text" placeholder="Search by post code" class="p-column-filter" (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(icp.value, 'cp', 'startsWith')"></p-button>
                </div>
            </th>

            <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                    <input #icity pInputText type="text" placeholder="Search by City" class="p-column-filter"  (change)="dt.reset()">
                    <p-button  icon="pi pi-filter" iconPos="left" (click)="dt.filter(icity.value, 'localite', 'contains')"></p-button>
                </div>
            </th>
        </tr>
        <tr>
            <th pSortableColumn="nom">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Nom
                    <p-sortIcon field="nom"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="prenom">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Prenom
                    <p-sortIcon field="prenom"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="adresse">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Adresse
                    <p-sortIcon field="adresse"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="cp">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Code Postal
                    <p-sortIcon field="cp"></p-sortIcon>
                </div>
            </th>
            <th pSortableColumn="localite">
                <div class="p-d-flex p-jc-between p-ai-center">
                    Ville
                    <p-sortIcon field="localite"></p-sortIcon>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beneficiaire>
        <tr (click)="handleSelect(beneficiaire)">
            <td *ngFor="let col of cols">
                {{beneficiaire[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
           There are {{totalRecords}} beneficiaries selected.
        </div>
    </ng-template>
</p-table>
 <p-dialog header="Beneficiaire Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
     <app-beneficiaire *ngIf="selectedIdClient$" [idClient$]="selectedIdClient$" (onBeneficiaireUpdate)="handleBeneficiaireUpdate($event)" (onBeneficiaireDelete)="handleBeneficiaireDeleted($event)" (onBeneficiaireQuit)="handleBeneficiaireQuit()"></app-beneficiaire>
 </p-dialog>




