<ng-container *ngIf="beneficiaires$ | async as beneficiaires">
    <p-table #dt [value]="beneficiaires" selectionMode="single" [rowHover]="true"
             [rows]="10" [showCurrentPageReport]="true"
             [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [filterDelay]="0" [globalFilterFields]="['societe','adresse','cp','localite']">
        <ng-template pTemplate="caption">
            <div class="table-header">
                {{title}}
                <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="idClient">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Identifiant
                        <p-sortIcon field="idClient"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="bankShortName">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Banque
                        <p-sortIcon field="bankShortName"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="nom">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nom
                        <p-sortIcon field="nom"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="prenom">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Prenom
                        <p-sortIcon field="prenom"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="adresse">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Adresse
                        <p-sortIcon field="adresse"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="cp">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Code Postal
                        <p-sortIcon field="cp"></p-sortIcon>
                    </div>
                </th>
                <th pSortableColumn="localite">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Ville
                        <p-sortIcon field="localite"></p-sortIcon>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-beneficiaire>
            <tr (click)="handleSelect(beneficiaire)">
                <td *ngFor="let col of cols">
                    {{beneficiaire[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Au total il y a {{beneficiaires ? beneficiaires.length : 0 }} beneficiaires.
            </div>
        </ng-template>
    </p-table>
</ng-container>



