 <p-table #dt [value]="beneficiaires" selectionMode="single" [rowHover]="true"  [lazy]="true" (onLazyLoad)="nextPage($event)"
         [rows]="10" [showCurrentPageReport]="true" [totalRecords]="totalRecords" [loading]="loading" [(first)]="first"
         [paginator]="true" i18n-currentPageReportTemplate="@@CurrentPageReportbyPage" currentPageReportTemplate="'Page {currentPage} of {totalPages}'"
          [globalFilterFields]="['nom','prenom', 'adresse', 'cp', 'localite']" >
    <ng-template pTemplate="caption">
        <div class="table-header">
            <div class="p-fluid p-formgrid p-grid">
                <div i18n="@@BeneficiariesHeader" class="p-field p-col-12 p-md-12">
                    Beneficiaries of {{bankName}} {{orgName}}
                </div>
                <div *ngIf="booShowOrganisations" class="p-field p-col-12 p-md-5">
                    <p-autoComplete  [(ngModel)]="filteredOrganisation" [suggestions]="filteredOrganisations" (completeMethod)="filterOrganisation($event)"
                                     (onSelect)="filterOrganisationBeneficiaries($event.idDis);"
                                     [forceSelection]="true"  id="filteredOrganisation" name="filteredOrganisation" field="fullname" [dropdown]="true">
                        <ng-template let-organisation pTemplate="item">
                            <div class="organisation-item">
                                <div> {{organisation.fullname}} </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <label i18n="@@ShowArchived" for="actif">Show Archived?</label>
                    <p-checkbox [value]="booShowArchived" binary="true" name="actif" id="actif" (onChange)="changeArchiveFilter($event)"></p-checkbox>
                </div>
                <div class="p-field p-col-12 p-md-3">
                    <label i18n="@@ShowDuplicates" for="duplicate">Show Duplicates?</label>
                    <p-checkbox [value]="booShowDuplicates" binary="true" name="duplicate" id="duplicate" (onChange)="changeDuplicateFilter($event)"></p-checkbox>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-3">
                    <button  type="button" pButton icon="pi pi-plus" (click)="exportAsXLSX()" label="Export Beneficiaries" i18n-label="@@ExportBeneficiaries"></button>
                </div>
                <div *ngIf="booCanCreate" class="p-field p-col-12 p-md-3">
                    <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" i18n-label="@@AddBeneficiary" label="Add Beneficiary"></button>
                </div>
            </div>
        </div>
    </ng-template>
     <ng-template pTemplate="header">
         <tr>
             <th i18n="@@NameSorted" pSortableColumn="nom" colspan="2" >Name<p-sortIcon field="nom"></p-sortIcon></th>
             <th i18n="@@Organisation"  *ngIf="booShowOrganisations"  colspan="2" >Organisation</th>
             <th i18n="@@AddressSorted" pSortableColumn="adresse"  colspan="2" >Address<p-sortIcon field="adresse"></p-sortIcon></th>
             <th i18n="@@ZipCodeSorted" pSortableColumn="cp">Zip Code<p-sortIcon field="cp"></p-sortIcon></th>
             <th i18n="@@CitySorted" pSortableColumn="localite">City<p-sortIcon field="localite"></p-sortIcon></th>
             <th i18n="@@BirthDateSorted" pSortableColumn="daten">Birth Date<p-sortIcon field="daten"></p-sortIcon></th>
             <th i18n="@@NbDependentsSorted" pSortableColumn="nbDep">Nb Dependents<p-sortIcon field="nbDep"></p-sortIcon></th>
             <th i18n="@@BeneficiarySuspect" pSortableColumn="coeff">Suspect<p-sortIcon field="coeff"></p-sortIcon></th>
         </tr>
         <tr>
             <th>
                 <p-columnFilter type="text" field="nom" matchMode="contains" [showMenu]="false" ></p-columnFilter>
             </th>
             <th>
             </th>
             <th *ngIf="booShowOrganisations"  colspan="2" >
             </th>
             <th colspan="2" >
                 <p-columnFilter type="text" field="adresse" matchMode="contains" [showMenu]="false" ></p-columnFilter>
             </th>
             <th>
                 <p-columnFilter type="text" field="cp" matchMode="equals" [showMenu]="false" ></p-columnFilter>
             </th>
             <th>
                 <p-columnFilter type="text" field="localite" matchMode="contains" [showMenu]="false"></p-columnFilter>
             </th>
             <th>

             </th>
             <th>
             </th>
             <th>
                 <p-columnFilter field="suspect" matchMode="equals" [showMenu]="false">
                     <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                         <p-dropdown [ngModel]="value" [options]="YNOptions" (onChange)="filter($event.value)" placeholder="Any" [showClear]="true">
                             <ng-template let-option pTemplate="item">
                                 <span>{{option.label}}</span>
                             </ng-template>
                         </p-dropdown>
                     </ng-template>
                 </p-columnFilter>
             </th>
         </tr>
     </ng-template>

    <ng-template pTemplate="body" let-beneficiaire>
        <tr (click)="handleSelect(beneficiaire)">
            <td colspan="2">
                {{ beneficiaire.nom }}  {{beneficiaire.prenom}}
            </td>
            <td *ngIf="booShowOrganisations" colspan="2">
                {{ beneficiaire.lienDis }} {{ beneficiaire.societe }}
            </td>
            <td colspan="2">
                {{beneficiaire.adresse}}
            </td>
            <td>
                {{beneficiaire.cp}}
            </td>
            <td>
                {{beneficiaire.localite}}
            </td>
            <td>
                {{beneficiaire.daten}}
            </td>
            <td>
                {{beneficiaire.nbDep}}
            </td>
            <td>
                {{ getSuspectStatus(beneficiaire.coeff) }}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div i18n="@@BeneficiariesSelected" class="p-d-flex p-ai-center p-jc-between">
           There are {{totalRecords}} beneficiaries selected.
        </div>
    </ng-template>
</p-table>
 <p-dialog i18n-header="@@BeneficiaryDetails" header="Beneficiary Details" [(visible)]="displayDialog" [responsive]="true" [contentStyle]="{'overflow': 'scroll'}" [modal]="true" [closable]="false">
     <app-beneficiaire *ngIf="selectedIdClient$" [idClient$]="selectedIdClient$"  [currentFilteredOrg] ="filteredOrganisation" (onBeneficiaireUpdate)="handleBeneficiaireUpdate($event)"
                       (onBeneficiaireCreate)="handleBeneficiaireCreate($event)"  (onBeneficiaireDelete)="handleBeneficiaireDeleted($event)" (onBeneficiaireQuit)="handleBeneficiaireQuit()"></app-beneficiaire>
 </p-dialog>




