<p-panel  *ngIf="dependent">
      <form  #dependentForm="ngForm">
          <div class="p-formgroup-inline">
              <button  *ngIf="booCanDelete" type="button" pButton icon="pi pi-times" (click)="delete($event,dependent)" i18n-label="@@Delete" label="Delete"></button>
              <button  *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(dependent, dependentForm.value)" [disabled] = "dependentForm.invalid" i18n-label="@@Save" label="Save"></button>
              <button type="button" pButton icon="pi pi-check" (click)="quit($event, dependent, dependentForm, dependentForm.dirty)" i18n-label="@@Return" label="Return" ></button>
          </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-1">
                <label i18n="@@Gender" for="civilite">Gender</label>
                <p-dropdown [options]="genders" id="civilite" name="civilite" [ngModel]="dependent.civilite" ></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@NameMandatory" for="nom">Name *</label>
                <input #nom="ngModel" pInputText id="nom" name="nom" required minlength="2" maxlength="50" [ngModel]="dependent.nom" />
                <p-message i18n-text="@@NameIsMandatory"  *ngIf="nom.invalid && dependentForm.touched" severity="error" text="Name is required and must be minimum 2 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@NameFirstMandatory" for="prenom">First Name *</label>
                <input #prenom="ngModel" pInputText id="prenom" name="prenom" required minlength="2" maxlength="50" [ngModel]="dependent.prenom" />
                <p-message i18n-text="@@NameFirstIsMandatory" *ngIf="prenom.invalid && dependentForm.touched" severity="error" text="First Name is required and must be minimum 2 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@Relation" for="depTyp">Relation</label>
                <p-dropdown [options]="depTypes" id="depTyp" name="depTyp" [ngModel]="dependent.depTyp"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@DepPercentage" for="eq">% Dependent</label>
                <p-dropdown [options]="depPercentages" id="eq" name="eq" [ngModel]="dependent.eq" ></p-dropdown>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-3">
                <label i18n="@@BirthDateMandatory"  for="datenais">Birth Date *</label>
                <input #datenais="ngModel" pInputText id="datenais" name="datenais" required pattern="^(0?[1-9]|[12][0-9]|3[01])[\/](0?[1-9]|1[012])[\/\-]\d{4}$" placeholder="dd/mm/yyyy" [ngModel]="dependent.datenais"/>
                <p-message  i18n-text="@@BirthDateIsMandatory" *ngIf="datenais.invalid && dependentForm.touched" severity="error" text="Birth date is required and must in format dd/mm/yyyy"></p-message>
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label i18n="@@IsActif" for="actif">Actif?</label>
                <p-inputSwitch id="actif" name="actif" [ngModel]="dependent.actif"></p-inputSwitch>
            </div>
        </div>
        <p-confirmPopup></p-confirmPopup>
    </form>
</p-panel>
