<p-panel  *ngIf="cpas">
    <ng-template pTemplate="header">
        CPAS
    </ng-template>
    <form  #cpasForm="ngForm" >
        <div class="p-formgroup-inline">
            <button *ngIf="booCanDelete" type="button" pButton icon="pi pi-times" (click)="delete($event, cpas)" i18n-label="@@Delete" label="Delete"></button>
            <button *ngIf="booCanSave" type="button" pButton icon="pi pi-check" (click)="save(cpas, cpasForm.value)" i18n-label="@@Save" label="Save" [disabled] = "cpasForm.invalid"></button>
            <button *ngIf="booCanQuit" type="button" pButton icon="pi pi-check" (click)="quit($event, cpas, cpasForm,cpasForm.dirty)" i18n-label="@@Return" label="Return" ></button>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-2">
                <label for="cpasName">Name</label>
                <input #cpasname="ngModel"  pInputText id="cpasName" name="cpasName" required  minlength="4" maxlength="255" [ngModel]="cpas.cpasName" />
                <p-message *ngIf="cpasname.invalid && cpasForm.touched" severity="error" text="OCMW/CPAS Name is required and must be minimum 4 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-1">
                <label for="cpasZip">Zip Code</label>
                <input #cpaszip="ngModel" pInputText id="cpasZip" name="cpasZip" required  minlength="4" maxlength="4" [ngModel]="cpas.cpasZip" />
                <p-message *ngIf="cpaszip.invalid && cpasForm.touched" severity="error" text="OCMW/CPAS Zip Code is required and must be 4 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="cpasStreet">Address</label>
                <input pInputText id="cpasStreet" name="cpasStreet"  maxlength="50" [ngModel]="cpas.cpasStreet" />
            </div>
            <div class="p-fieldp-col-12 p-md-2">
                <label for="cpasGsm">Mobile</label>
                <input pInputText id="cpasGsm" name="cpasGsm" maxlength="20" [ngModel]="cpas.cpasGsm" />
            </div>

            <div class="p-fieldp-col-12 p-md-2">
                <label for="cpasTel">Telephone</label>
                <input pInputText id="cpasTel" name="cpasTel" maxlength="20" [ngModel]="cpas.cpasTel" />
            </div>
            <div class="p-fieldp-col-12 p-md-2">
                <label for="cpasMail">E-Mail</label>
                <input pInputText id="cpasMail" name="cpasMail" maxlength="50" [ngModel]="cpas.cpasMail" />
            </div>

            <div class="p-field p-col-12 p-md-3">
                <label for="langue">Language</label>
                <p-dropdown  [options]="languages" id="langue" name="langue" [ngModel]="cpas.langue"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="cpasContactName">Responsable Nom</label>
                <input  pInputText id="cpasContactName" name="cpasContactName"  maxlength="30" [ngModel]="cpas.cpasContactName" />
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="cpasContactSurname">Responsable Prenom</label>
                <input  pInputText id="cpasContactSurname" name="cpasContactSurname"  maxlength="50" [ngModel]="cpas.cpasContactSurname" />
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label for="civilite">Gender</label>
                <p-dropdown  [options]="genders" id="civilite" name="civilite" [ngModel]="cpas.civilite"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <label for="rem">Remarks</label>
                <textarea pInputTextarea  id="rem" name="rem" [ngModel]="cpas.rem"></textarea>
            </div>
        </div>
        <p-confirmPopup></p-confirmPopup>


    </form>
</p-panel>



