<p-panel *ngIf="notification">

    <form   #notificationForm="ngForm" style="padding: 1em">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-5">
                <label i18n="@@SubjectMandatory" for="subject">Subject *</label>
                <input  #subject="ngModel" pInputText id="subject" name="subject" required minlength="10" maxlength="255" [ngModel]="notification.subject" />
                <p-message i18n-text="@@SubjectIsMandatory" *ngIf="subject.invalid && notificationForm.touched" severity="error" text="Subject is required and must be minimum 10 chars long"></p-message>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@Language" for="language">Language</label>
                <p-dropdown [options]="languages" id="language" name="language" [ngModel]="notification.language"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-2">
                <label i18n="@@Importance" for="importance">Importance</label>
                <p-dropdown [options]="importances" id="importance" name="importance" [ngModel]="notification.importance"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-3">
                <label i18n="@@Audience" for="audience">Audience</label>
                <p-dropdown [options]="audiences" id="audience" name="audience" [ngModel]="notification.audience"></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <p-editor #content="ngModel" id="content" name="content" [(ngModel)]="notification.content" required i18n-placeholder="@@EnterYourMessage" placeholder="Enter your message" name="mailingText" [style]="{'height':'320px'}">
                    <p-header>
                             <span class="ql-formats">
                                <select class="ql-header" tabindex="-1">
                                    <option value="1" tabindex="-1">Heading</option>
                                    <option value="2" tabindex="-1">Subheading</option>
                                    <option selected tabindex="-1">Normal</option>
                                </select>
                             <select class="ql-font" tabindex="-1">
                                    <option selected tabindex="-1">Sans Serif</option>
                                    <option value="serif" tabindex="-1">Serif</option>
                                    <option value="monospace" tabindex="-1">Monospace</option>
                                </select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-bold" aria-label="Bold" tabindex="-1"></button>
                                <button class="ql-italic" aria-label="Italic" tabindex="-1"></button>
                                <button class="ql-underline" aria-label="Underline" tabindex="-1"></button>
                            </span>
                        <span class="ql-formats">
                                <select class="ql-color" tabindex="-1"></select>
                                <select class="ql-background" tabindex="-1"></select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-list" value="ordered" aria-label="Ordered List" tabindex="-1"></button>
                                <button class="ql-list" value="bullet" aria-label="Unordered List" tabindex="-1"></button>
                                <select class="ql-align" tabindex="-1">
                                    <option selected tabindex="-1"></option>
                                    <option value="center" tabindex="-1"></option>
                                    <option value="right" tabindex="-1"></option>
                                    <option value="justify" tabindex="-1"></option>
                                </select>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-link" aria-label="Insert Link" tabindex="-1"></button>
                            </span>
                        <span class="ql-formats">
                                <button class="ql-clean" aria-label="Remove Styles" tabindex="-1"></button>
                            </span>
                    </p-header>
                </p-editor>
                <p-message i18n-text="@@ContentIsMandatory" *ngIf="content.invalid && notificationForm.touched" severity="error" text="content is required"></p-message>
            </div>

        </div>
        <p-toast></p-toast>
        <p-confirmPopup></p-confirmPopup>
        <div class="p-formgroup-inline">
            <button type="button" pButton icon="pi pi-times" (click)="delete($event,notification)" i18n-label="@@Delete" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" (click)="save(notification, notificationForm.value)" i18n-label="@@Save" label="Save" [disabled] = "notificationForm.invalid"></button>
            <button type="button" pButton icon="pi pi-check" (click)="quit($event, notification, notificationForm,notificationForm.dirty)" i18n-label="@@Return" label="Return" ></button>
        </div>
    </form>


</p-panel>
